<a href="https://colab.research.google.com/github/pikey-msc/Python/blob/main/M3/C1_M3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Índice
#### 1. Bases de datos y SQL 
##### 1.1.Introducción a las bases de datos con MySQL 
##### 1.2.Relación entre tablas: llaves primarias y foráneas  
##### 1.3.Creación de una base de datos  
##### 1.4.Consultas en una base de datos  
##### 1.5.Python – SQL  
###### 1.5.1. SQLAlchemy

## Bases de Datos Relacionales

En esta sección veremos como trabajar con bases de datos relacionales dentro de Python.

Algunas de las ventajas de trabajar con bases de datos en Python son las siguientes:

1. La portabilidad de Python. i.e. funciona en diferentes sistemas: IOS, Windows, Unix, etc.
2. la posibilidad de acceder a _queries_ de las bases de datos por medio de _CONECTORES_
3. Python nos permite conectarnos a las bases de datos más comúnmente usadas:
    * MySQL,
    * PostgreSQL,
    * Oracle,
    * MS-SQL,
    * etc.

## Definiciones básicas
**Tabla** 

Es un conjunto de información que tiene relación entre sí.

Por ejemplo, en una tabla de provincias, el número de habitantes que vive en cada provincia es un tipo de información relacionada con el nombre de la provincia, o el identificador asignado.

**Base de datos**

Es el conjunto de tablas que describen una entidad de rango mayor. Las tablas pueden tener relaciones entre ellas y ser complementarias.

Lo normal es que para describir o trabajar con un sistema, sea necesario disponer de más de una tabla para comprender el todo, existiendo relaciones entre ellas.

Por ejemplo, para conocer los pueblos de España, necesitaremos una tabla de provincias, y otra de municipios, que están relacionadas entre sí porque cada municipio está vinculado a una y solo una provincia.

**Registros**

Son la unidad básica que describe a un objeto o a una transacción. Las tablas están formadas por un conjunto de ellos, siempre siguiendo el mismo patrón en cada una de ellas.


**Campos o columnas**

El registro está formado por uno o más campos, que son la unidad básica de información, y son una propiedad específica de un objeto o transacción.

Un registro, en el caso de la tabla provincias, estará formado por el identificador de provincia, el nombre de la provincia, y el censo de dicha provincia.

**Tipo de dato**

Dependiendo de la columna, cada una de ellas tendrá definido un tipo de dato específico que indicará la forma de almacenar, las características y los límites.

Así, hay distintos tipos: los hay numérico, alfanumérico o de tipo cadena, de tipo fecha, ….

Cada motor de base de datos define distintos tipos de datos, y algunos son específicos de cada una de ellas.

**Diseño de una base de datos**

Para diseñar una base de datos es necesario seguir una serie de normas:

* Cada tabla deberá tener un nombre único y específico.
* Las tablas deberán tener al menos un campo
* Cada tabla puede tener cero o más filas y pueden estar desordenadas
* Para cada valor de una columna, tendrá el mismo tipo de dato
* Toda tabla contendrá un campo o conjunto de campos que será único (cuyo valor no se repite entre los registros) y con el que es posible acceder a la información. Dicho valor único se identifica inequívocamente con el registro, y se le conoce como llave o clave primaria.
* Sólo existirá una clave primaria por registro.
* Las llaves o claves secundarias es un campo o conjunto de campos que a su vez, son clave primaria en otra tabla. Una tabla puede tener más de una clave secundaria.
* La relación entre claves primarias y claves foráneas crea relaciones padre-hijo entre las tablas de la base de datos.

Las claves primarias y foráneas son las estructuras principales que conectan a las tablas de las bases de datos.

## Llave primaria
Una llave primaria es un campo único , que no se puede repetir y sirve para identificar los registros de una tabla como distintos, además sirve para hacer relaciones ( uno a uno, uno a muchos, muchos a muchos entre tablas), sin las llaves primaria las bases de dato relacionales no tendrían sentido y siempre existiría información repetida.

Para que una tabla califique como tabla relacional debe tener una llave primaria, Una tabla sólo puede haber una llave primaria por tabla.

La llave primaria para cada tabla es almacenada en un índice. El índice se utiliza para asegurarse que cada registro (fila) es único.

La selección de una clave primaria es muy importante en el diseño de una base de datos, ya que es un elemento clave de los datos que facilita la unión de tablas y el concepto total de una base de datos relacional.


## Llave foránea

Es uno o mas campos de un tabla que hacen referencia al campo o campos de llave principal de otra tabla, una llave foránea indica como esta relacionadas las tablas. Los datos en los campos de ambas deben coincidir, aunque los nombres de los campos no sean los mismos.

Una clave foránea es simplemente un campo en una tabla que se corresponde con la clave primaria de otra tabla.

Las claves foráneas tienen que ver precisamente con la integridad referencial, lo que significa que si una clave foránea contiene un valor, ese valor se refiere a un registro existente en la tabla relacionada.

Una tabla puede tener relaciones con varias tablas a través de distintas claves foráneas, e incluso referenciarse a si misma (clave foránea recursiva).

**Diferencias entre llave foránea y primaria**

La clave primaria identifica un registro único de una tabla.
La clave foránea relaciona los datos de un registro de una tabla con los de otra, o con un registro distinto de la misma tabla.

## MySQL

Durante esta sección del curso trabajaremos con MySQL. MySQL es uno de los manejadores de bases de datos relacionales más popular entre la comunidad _open source_.

MySQL, así como otros manejadores de bases de datos, requieren de sistemas que permitan manipular la información.

## PyMySQL

PyMySQL es un cliente de MySQL escrito en Python basado en [PEP 249](https://www.python.org/dev/peps/pep-0249/): Especificaciones de API para bases de datos en Python v2.0.

Un cliente de bases de datos, `PyMySQL` en este caso, se conecta a la base de datos y hace los queries o manipulaciones a la base de datos seleccionada.

Durante el resto de esta sección, ocuparemos la base de datos `nabla_python1` ubicada dentro de [db4free.net](https://db4free.net/signup.php). `nabla_python1` contiene las siguientes tablas:

```bash
mysql> use nabla_python 
Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A

Database changed
mysql> show tables;
+------------------------+
| Tables_in_nabla_python |
+------------------------+
| customers              |
| employees              |
| offices                |
| orderdetails           |
| orders                 |
| payments               |
| productlines           |
| products               |
+------------------------+
8 rows in set (0.17 sec)
```

In [4]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [7]:
import pymysql
import pandas as pd
passw = 'Capitan1'
conn = pymysql.connect(host="db4free.net",
                    user="carlos_carrasco1",
                    port=3306,
                    password=passw,
                    database="nabla_python1",
                    charset="utf8")

PyMySQL es una interfaz para conectarse a una BBDD MySQL desde Python

1. Conectarse a una BBDD MySQL  necesitamos una conexión (un objeto MySQLConnection)
2. Instanciar un objeto cursor de MySQL (MySQLCursor) de la conexión.
   - Cursor: objeto que puede ejecutar operaciones en lenguaje SQL. Es un objeto que utilizas para interactuar con la      BBDD
4. Utilizar los métodos fetchone(), fetchmany() o fetchall() para traernos los datos.
5. Utilizar el método close() para cerrar el cursor y la conexión a la BBDD.

In [ ]:
#puerto: interfaz de comunicación, el 3306 es predeterminado para MySQL.
#kernel: aparato/programa que ejecuta el código

Dada una conexión, la manera de interactuar con una base de datos desde `pymysql` es mediante la creación de un cursor, el cuál se puede usar junto con una conexión.

In [8]:
with conn.cursor() as cursor:
    cursor.execute("SELECT VERSION()")
    version = cursor.fetchone()
print(f"Current MySQL version {version}")

Current MySQL version ('8.0.28',)

In [ ]:
# f-string: mecanismo para formatear strings que se conoce como "String interpolation" > evaluar expresiones de strings
# que tienen parámetros embebidos.

### Conectarse a una BBDD MYSQL desde Python
1.- Una vez creado cursor, ejecutamos comandos de MySQL por medio del mètodo execute
2.-Un cursor recaba la información dentro de la base de dtos y arroja la información a la sesión de Python por medio
de los MÉTODOS `fetchone` , `fetchmany` o `fetchall`.

In [15]:
conn = pymysql.connect(host="db4free.net",
                    user="carlos_carrasco1",
                    port=3306,
                    password=passw,
                    database="nabla_python1",
                    charset="utf8")

In [14]:
with conn.cursor() as cursor:
    cursor.execute("show databases;")
    dbs = cursor.fetchall()
dbs

KeyboardInterrupt: ignored

In [16]:
with conn.cursor() as cursor:
    cursor.execute("SHOW TABLES;")
    tables = cursor.fetchall()
tables

(('cust_amount',),
 ('custo_amount',),
 ('customers',),
 ('employees',),
 ('offices',),
 ('orderdetails',),
 ('orders',),
 ('pagos2',),
 ('payments',),
 ('productlines',),
 ('products',),
 ('users',))

### Ejecutar consultas de MYSQL desde Python
Para ejecutar código SQL desde python, usamos la siguiente estructura general:

query = "Aqui va el Query"

with conn.cursor() as cursor: 
    cursor.execute(query)
    customers=cursor.fetchmany(10)

conn.close()

### Consultar metadatos de las tablas

In [ ]:
nombres="""SELECT TABLE_NAME, COLUMN_NAME 
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE 
    TABLE_SCHEMA = 'nabla_python1'
-- AND TABLE_NAME = 'customers'
;""" ;

with conn.cursor() as cursor:
    cursor.execute(nombres)
    metadatos = cursor.fetchall()

In [ ]:
metadatos

(('cust_amount', 'customerNumber'),
 ('cust_amount', 'num_pedidos'),
 ('cust_amount', 'amounts'),
 ('custo_amount', 'customerNumber'),
 ('custo_amount', 'num_pedidos'),
 ('custo_amount', 'amounts'),
 ('customers', 'customerNumber'),
 ('customers', 'customerName'),
 ('customers', 'contactLastName'),
 ('customers', 'contactFirstName'),
 ('customers', 'phone'),
 ('customers', 'addressLine1'),
 ('customers', 'addressLine2'),
 ('customers', 'city'),
 ('customers', 'state'),
 ('customers', 'postalCode'),
 ('customers', 'country'),
 ('customers', 'salesRepEmployeeNumber'),
 ('customers', 'creditLimit'),
 ('employees', 'employeeNumber'),
 ('employees', 'lastName'),
 ('employees', 'firstName'),
 ('employees', 'extension'),
 ('employees', 'email'),
 ('employees', 'officeCode'),
 ('employees', 'reportsTo'),
 ('employees', 'jobTitle'),
 ('offices', 'officeCode'),
 ('offices', 'city'),
 ('offices', 'phone'),
 ('offices', 'addressLine1'),
 ('offices', 'addressLine2'),
 ('offices', 'state'),
 ('offices', 'country'),
 ('offices', 'postalCode'),
 ('offices', 'territory'),
 ('orderdetails', 'orderNumber'),
 ('orderdetails', 'productCode'),
 ('orderdetails', 'quantityOrdered'),
 ('orderdetails', 'priceEach'),
 ('orderdetails', 'orderLineNumber'),
 ('orders', 'orderNumber'),
 ('orders', 'orderDate'),
 ('orders', 'requiredDate'),
 ('orders', 'shippedDate'),
 ('orders', 'status'),
 ('orders', 'comments'),
 ('orders', 'customerNumber'),
 ('pagos2', 'customerNumber'),
 ('pagos2', 'sum_amount'),
 ('payments', 'customerNumber'),
 ('payments', 'checkNumber'),
 ('payments', 'paymentDate'),
 ('payments', 'amount'),
 ('productlines', 'productLine'),
 ('productlines', 'textDescription'),
 ('productlines', 'htmlDescription'),
 ('productlines', 'image'),
 ('products', 'productCode'),
 ('products', 'productName'),
 ('products', 'productLine'),
 ('products', 'productScale'),
 ('products', 'productVendor'),
 ('products', 'productDescription'),
 ('products', 'quantityInStock'),
 ('products', 'buyPrice'),
 ('products', 'MSRP'),
 ('users', 'id'),
 ('users', 'username'),
 ('users', 'email'),
 ('users', 'created_at'))

#### Consulta de tablas de una base de datos en MYSQL

In [ ]:
#Ejemplo: selecciona todos los clientes
query="""
SELECT * FROM customers
LIMIT 20; 
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    customers = cursor.fetchall() #trae los primeros 10 registros.
    
# conn.close()

In [ ]:
customers

((103,
  'Atelier graphique',
  'Schmitt',
  'Carine ',
  '40.32.2555',
  '54, rue Royale',
  None,
  'Nantes',
  None,
  '44000',
  'France',
  1370,
  Decimal('21000.00')),
 (112,
  'Signal Gift Stores',
  'King',
  'Jean',
  '7025551838',
  '8489 Strong St.',
  None,
  'Las Vegas',
  'NV',
  '83030',
  'USA',
  1166,
  Decimal('71800.00')),
 (114,
  'Australian Collectors, Co.',
  'Ferguson',
  'Peter',
  '03 9520 4555',
  '636 St Kilda Road',
  'Level 3',
  'Melbourne',
  'Victoria',
  '3004',
  'Australia',
  1611,
  Decimal('117300.00')),
 (119,
  'La Rochelle Gifts',
  'Labrune',
  'Janine ',
  '40.67.8555',
  '67, rue des Cinquante Otages',
  None,
  'Nantes',
  None,
  '44000',
  'France',
  1370,
  Decimal('118200.00')),
 (121,
  'Baane Mini Imports',
  'Bergulfsen',
  'Jonas ',
  '07-98 9555',
  'Erling Skakkes gate 78',
  None,
  'Stavern',
  None,
  '4110',
  'Norway',
  1504,
  Decimal('81700.00')),
 (124,
  'Mini Gifts Distributors Ltd.',
  'Nelson',
  'Susan',
  '4155551450',
  '5677 Strong St.',
  None,
  'San Rafael',
  'CA',
  '97562',
  'USA',
  1165,
  Decimal('210500.00')),
 (125,
  'Havel & Zbyszek Co',
  'Piestrzeniewicz',
  'Zbyszek ',
  '(26) 642-7555',
  'ul. Filtrowa 68',
  None,
  'Warszawa',
  None,
  '01-012',
  'Poland',
  None,
  Decimal('0.00')),
 (128,
  'Blauer See Auto, Co.',
  'Keitel',
  'Roland',
  '+49 69 66 90 2555',
  'Lyonerstr. 34',
  None,
  'Frankfurt',
  None,
  '60528',
  'Germany',
  1504,
  Decimal('59700.00')),
 (129,
  'Mini Wheels Co.',
  'Murphy',
  'Julie',
  '6505555787',
  '5557 North Pendale Street',
  None,
  'San Francisco',
  'CA',
  '94217',
  'USA',
  1165,
  Decimal('64600.00')),
 (131,
  'Land of Toys Inc.',
  'Lee',
  'Kwai',
  '2125557818',
  '897 Long Airport Avenue',
  None,
  'NYC',
  'NY',
  '10022',
  'USA',
  1323,
  Decimal('114900.00')),
 (141,
  'Euro+ Shopping Channel',
  'Freyre',
  'Diego ',
  '(91) 555 94 44',
  'C/ Moralzarzal, 86',
  None,
  'Madrid',
  None,
  '28034',
  'Spain',
  1370,
  Decimal('227600.00')),
 (144,
  'Volvo Model Replicas, Co',
  'Berglund',
  'Christina ',
  '0921-12 3555',
  'Berguvsvägen  8',
  None,
  'Luleå',
  None,
  'S-958 22',
  'Sweden',
  1504,
  Decimal('53100.00')),
 (145,
  'Danish Wholesale Imports',
  'Petersen',
  'Jytte ',
  '31 12 3555',
  'Vinbæltet 34',
  None,
  'Kobenhavn',
  None,
  '1734',
  'Denmark',
  1401,
  Decimal('83400.00')),
 (146,
  'Saveley & Henriot, Co.',
  'Saveley',
  'Mary ',
  '78.32.5555',
  '2, rue du Commerce',
  None,
  'Lyon',
  None,
  '69004',
  'France',
  1337,
  Decimal('123900.00')),
 (148,
  'Dragon Souveniers, Ltd.',
  'Natividad',
  'Eric',
  '+65 221 7555',
  'Bronz Sok.',
  'Bronz Apt. 3/6 Tesvikiye',
  'Singapore',
  None,
  '079903',
  'Singapore',
  1621,
  Decimal('103800.00')),
 (151,
  'Muscle Machine Inc',
  'Young',
  'Jeff',
  '2125557413',
  '4092 Furth Circle',
  'Suite 400',
  'NYC',
  'NY',
  '10022',
  'USA',
  1286,
  Decimal('138500.00')),
 (157,
  'Diecast Classics Inc.',
  'Leong',
  'Kelvin',
  '2155551555',
  '7586 Pompton St.',
  None,
  'Allentown',
  'PA',
  '70267',
  'USA',
  1216,
  Decimal('100600.00')),
 (161,
  'Technics Stores Inc.',
  'Hashimoto',
  'Juri',
  '6505556809',
  '9408 Furth Circle',
  None,
  'Burlingame',
  'CA',
  '94217',
  'USA',
  1165,
  Decimal('84600.00')),
 (166,
  'Handji Gifts& Co',
  'Victorino',
  'Wendy',
  '+65 224 1555',
  '106 Linden Road Sandown',
  '2nd Floor',
  'Singapore',
  None,
  '069045',
  'Singapore',
  1612,
  Decimal('97900.00')),
 (167,
  'Herkku Gifts',
  'Oeztan',
  'Veysel',
  '+47 2267 3215',
  'Brehmen St. 121',
  'PR 334 Sentrum',
  'Bergen',
  None,
  'N 5804',
  'Norway  ',
  1504,
  Decimal('96800.00')))

In [ ]:
type(customers)

tuple

In [ ]:
custcols = ['customerNumber','customerName','contactLastName','contactFirstName',
            'phone', 'addressLine1','addressLine2','city','state','postalCode','country','salesRepEmployeeNumber',
            'creditLimit']

### Pasar a Pandas una consulta

In [ ]:
df_cus = pd.DataFrame(customers, columns = custcols)
df_cus.shape #shape es un atributo --> no necesita parèntesis
df_cus

    customerNumber  ... creditLimit
0              103  ...    21000.00
1              112  ...    71800.00
2              114  ...   117300.00
3              119  ...   118200.00
4              121  ...    81700.00
5              124  ...   210500.00
6              125  ...        0.00
7              128  ...    59700.00
8              129  ...    64600.00
9              131  ...   114900.00
10             141  ...   227600.00
11             144  ...    53100.00
12             145  ...    83400.00
13             146  ...   123900.00
14             148  ...   103800.00
15             151  ...   138500.00
16             157  ...   100600.00
17             161  ...    84600.00
18             166  ...    97900.00
19             167  ...    96800.00

[20 rows x 13 columns]

In [ ]:
q="""
SELECT * FROM payments;
"""
with conn.cursor() as cursor:
    cursor.execute(q)
    payments = cursor.fetchmany(10)

In [ ]:
payments

((103, 'HQ336336', datetime.date(2004, 10, 19), Decimal('6066.78')),
 (103, 'JM555205', datetime.date(2003, 6, 5), Decimal('14571.44')),
 (103, 'OM314933', datetime.date(2004, 12, 18), Decimal('1676.14')),
 (112, 'BO864823', datetime.date(2004, 12, 17), Decimal('14191.12')),
 (112, 'HQ55022', datetime.date(2003, 6, 6), Decimal('32641.98')),
 (112, 'ND748579', datetime.date(2004, 8, 20), Decimal('33347.88')),
 (114, 'GG31455', datetime.date(2003, 5, 20), Decimal('45864.03')),
 (114, 'MA765515', datetime.date(2004, 12, 15), Decimal('82261.22')),
 (114, 'NP603840', datetime.date(2003, 5, 31), Decimal('7565.08')),
 (114, 'NR27552', datetime.date(2004, 3, 10), Decimal('44894.74')))

In [ ]:
paymcols = ['customerNumber', 'checkNumber', 'paymentDate', 'amount']

In [ ]:
df_pay = pd.DataFrame(columns= paymcols, data = payments )
df_pay.head(3)

   customerNumber checkNumber paymentDate    amount
0             103    HQ336336  2004-10-19   6066.78
1             103    JM555205  2003-06-05  14571.44
2             103    OM314933  2004-12-18   1676.14

### Seleccionar columnas específicas
Al consultar una base de datos, en pocas ocasiones es necesario adquirir todas las columnas. Por lo que podemos explícitamente seleccioanr que columnas ocuparemos de la siguiente manera: 

```SQL
SELECT C0, C1, ..., CN FROM tables
```

In [ ]:
#Ejemplo:
query=" SELECT orderDate, shippedDate, customerNumber FROM orders;"

with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(10)
orders

((datetime.date(2003, 1, 6), datetime.date(2003, 1, 10), 363),
 (datetime.date(2003, 1, 9), datetime.date(2003, 1, 11), 128),
 (datetime.date(2003, 1, 10), datetime.date(2003, 1, 14), 181),
 (datetime.date(2003, 1, 29), datetime.date(2003, 2, 2), 121),
 (datetime.date(2003, 1, 31), datetime.date(2003, 2, 1), 141),
 (datetime.date(2003, 2, 11), datetime.date(2003, 2, 12), 145),
 (datetime.date(2003, 2, 17), datetime.date(2003, 2, 21), 278),
 (datetime.date(2003, 2, 24), datetime.date(2003, 2, 26), 131),
 (datetime.date(2003, 3, 3), datetime.date(2003, 3, 8), 385),
 (datetime.date(2003, 3, 10), datetime.date(2003, 3, 11), 486))

### Filtros y agregaciones en SQL

#### WHERE
En casos sobre los cuáles nos interesen ciertas filas en específico, recurrimos al comando `WHERE`

```SQL
SELECT C0, C1 FROM table_name WHERE cond
```

En este caso, `cond` es una condición booleana la cual regresa únicamente los elemenos que terminen siendo evaluados como verdaderos.

In [ ]:
# seleccionar òrdenes que fueron enviadas en un lapso menor a 30 días de realizadas.
q="""
SELECT orderDate, shippedDate, customerNumber
FROM orders
WHERE shippedDate -orderDate < 30;
"""
with conn.cursor() as cursor:
    cursor.execute(q)
    res = cursor.fetchmany(10)
df = pd.DataFrame(res)
df

            0           1    2
0  2003-01-06  2003-01-10  363
1  2003-01-09  2003-01-11  128
2  2003-01-10  2003-01-14  181
3  2003-02-11  2003-02-12  145
4  2003-02-17  2003-02-21  278
5  2003-02-24  2003-02-26  131
6  2003-03-03  2003-03-08  385
7  2003-03-10  2003-03-11  486
8  2003-03-18  2003-03-20  187
9  2003-03-25  2003-03-30  129

#### GROUP BY
Podemos realizar consultas sobre un grupo de elementos y aplicar alguna función sobre cada uno de los grupos encontrados por medio del comando `GROUP BY`.

```SQL
SELECT F(C1) FROM table_name GROUP BY C1
```

Cualquier función que podomas ocupar una vez agregados elementos tiene por nombre _aggregate function_. Algunas de las funciones agregadas que podemos usar en MySQL incluyen: 

* `AVG`
* `COUNT`
* `SUM`
* `MAX`
* `MIN`
* `STD`

In [ ]:
df_cus.head(8)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370.0,21000.00
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166.0,71800.00
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611.0,117300.00
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",None,Nantes,None,44000,France,1370.0,118200.00
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,None,Stavern,None,4110,Norway,1504.0,81700.00
5,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,None,San Rafael,CA,97562,USA,1165.0,210500.00
6,125,Havel & Zbyszek Co,Piestrzeniewicz,Zbyszek,(26) 642-7555,ul. Filtrowa 68,None,Warszawa,None,01-012,Poland,NaN,0.00
7,128,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,None,Frankfurt,None,60528,Germany,1504.0,59700.00

In [ ]:
# contar clientes por país, seleccionando sólo a Francia, USA, Aus, alemania y Noruega:

query="""
SELECT country, COUNT(customerNumber) AS num_of_customers
FROM customers
WHERE country IN ('France', 'USA', 'Australia', 'Germany', 'Norway')
GROUP BY country;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    res = cursor.fetchmany(15)
df = pd.DataFrame(res)
df

           0   1
0     France  12
1        USA  36
2  Australia   5
3     Norway   3
4    Germany  13

In [ ]:
query="""
SELECT country, COUNT(customerNumber) AS num_of_customers
FROM customers
WHERE country IN ('France', 'USA', 'Australia', 'Germany', 'Norway')
GROUP BY country;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    res = cursor.fetchall()

for element in res:
    print(element)

('France', 12)
('USA', 36)
('Australia', 5)
('Norway', 3)
('Germany', 13)

#### HAVING

In [ ]:
query="""
SELECT country, COUNT(customerNumber) AS num_of_customers
FROM customers
WHERE country IN ('France', 'USA', 'Australia', 'Germany', 'Norway')
GROUP BY country
HAVING num_of_customers > 12; -- HAVING actua sobre el resultado del GROUP BY
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    res = cursor.fetchall()

for element in res:
    print(element)

('USA', 36)
('Germany', 13)

In [ ]:
# IGUAL QUE anterior, SIN ALIAS DEL COUNT()
query="""
SELECT country, COUNT(customerNumber)
FROM customers
WHERE country IN ('France', 'USA', 'Australia', 'Germany', 'Norway')
GROUP BY country
HAVING COUNT(customerNumber)  > 12; -- HAVING actua sobre el resultado del GROUP BY
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    res = cursor.fetchall()

for element in res:
    print(element)

('USA', 36)
('Germany', 13)

In [ ]:
# NO ES NECESARIO LA PALABRA "AS" para definir el alias
query="""
SELECT country, COUNT(customerNumber) num_of_customers
FROM customers
WHERE country IN ('France', 'USA', 'Australia', 'Germany', 'Norway')
GROUP BY country
HAVING num_of_customers > 10 -- HAVING actua sobre el resultado del GROUP BY
ORDER BY num_of_customers DESC;  -- si omitimos 'DESC', ordena por default de forma ascendente.
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    res = cursor.fetchall()

for element in res:
    print(element)

('USA', 36)
('Germany', 13)
('France', 12)

In [ ]:
# en GROUP BY y ORDER, podemos referenciar las variables por el orden en el que aparecen en la sentencia SELECT:
query="""
SELECT country, COUNT(customerNumber) num_of_customers
FROM customers
WHERE country IN ('France', 'USA', 'Australia', 'Germany', 'Norway')
GROUP BY 1
HAVING num_of_customers > 10 -- HAVING actua sobre el resultado del GROUP BY
ORDER BY 2 DESC;  -- si omitimos 'DESC', ordena por default de forma ascendente.
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    res = cursor.fetchall()

for element in res:
    print(element)

('USA', 36)
('Germany', 13)
('France', 12)

#### LIMIT

In [ ]:
# finalmente, usar LIMIT para quedarnos con un determinado nùmero de registros.
query="""
SELECT country, COUNT(customerNumber) num_of_customers
FROM customers
WHERE country IN ('France', 'USA', 'Australia', 'Germany', 'Norway')
GROUP BY 1
HAVING num_of_customers > 10 -- HAVING actua sobre el resultado del GROUP BY
ORDER BY 2 DESC  -- si omitimos 'DESC', ordena por default de forma ascendente.
LIMIT 2;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    res = cursor.fetchall()

for element in res:
    print(element)

('USA', 36)
('Germany', 13)

#### Ejemplo

Obten, para cada estado, cuantas órdenes con `status` `"Shipped"` se han hecho. Consideremos únicamente los estados de EEUU con solo dos caracteres.

In [ ]:
query="""
SELECT state, COUNT(state) as count_state
FROM customers
JOIN orders ON orders.customerNumber=customers.customerNumber
WHERE status='Shipped' AND state IS NOT NULL
GROUP BY state
HAVING CHAR_LENGTH(state)=2
ORDER BY count_state DESC;
"""

with conn.cursor() as cursor: 
    cursor.execute(query)
    orders=cursor.fetchall()

for order in orders: 
    print(order)
    
for order in orders: 
    print(f"{order['count_state']:02}: {order['state']}")

![relation](http://www.mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png)

## PandasSQL 

Ahora veamos una forma de hacer queries sobre un DF usando SQL en Python

In [1]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.10.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=71aba6cb52dfeeca21646603e7c7bf8f64eeec53612ebe5fb7a5bab97b795da9
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

Importamos la información de GITHUB

In [44]:
!git clone https://github.com/pikey-msc/Python.git

Cloning into 'Python'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 7 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (7/7), done.

In [49]:
from pandasql import sqldf

#### Importar tablas

In [46]:
departments = pd.read_csv('Python/M3/S1/departments.csv') 
employees = pd.read_csv('Python/M3/S1/employees.csv')
regions = pd.read_csv('Python/M3/S1/regions.csv')

In [50]:
departments

    department_id         department      division
0               1          First Aid         Healt
1               2             Movies  Enterteiment
2               3      Device Repair   Electronics
3               4           Clothing          Home
4               5               Toys  Enterteiment
5               6          Computers   Electronics
6               7  Children Clothing          Home
7               8             Beauty         Healt
8               9          Furniture          Home
9              10             Garden          Home
10             11            Jewelry          Home
11             12              Decor          Home
12             13              Tools  Enterteiment
13             14           Pharmacy         Healt
14             15              Books  Enterteiment
15             16           Vitamins         Healt
16             17            Camping  Enterteiment
17             18              Games   Electronics
18             19   Phones & Tablets   Electronics
19             20          Cosmetics         Healt
20             21             Sports  Enterteiment
21             22         Automotive   Electronics
22             23              Music  Enterteiment
23             24            Grocery          Home
24             25        Maintenance          Home
25             26           Plumbing          Home
26             27           Security   Electronics

In [51]:
employees.head()

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [52]:
regions.head()

   region_id        region        country
0          1     Southwest  United States
1          2     Northeast  United States
2          3     Northwest  United States
3          4  Central Asia           Asia
4          5     East Asia           Asia

#### Consulta con `sqldf`

In [53]:
q="""
SELECT * FROM regions;
"""

print(sqldf(q,globals()))

   region_id        region        country
0          1     Southwest  United States
1          2     Northeast  United States
2          3     Northwest  United States
3          4  Central Asia           Asia
4          5     East Asia           Asia
5          6    North Asia           Asia
6          7         South         Canada

#### Definir una función asociada a `sqldf`

In [54]:
def fsql(q):
    return sqldf(q, globals())

In [55]:
q="""
SELECT * FROM regions;
"""
fsql(q)

   region_id        region        country
0          1     Southwest  United States
1          2     Northeast  United States
2          3     Northwest  United States
3          4  Central Asia           Asia
4          5     East Asia           Asia
5          6    North Asia           Asia
6          7         South         Canada

In [56]:
employees.head()

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5

[5 rows x 9 columns]

Obtengamos el salario de todos los empleados

In [57]:
# Quiero el promedio del salario de todos los empleados.
q="""
SELECT ROUND(AVG(salary))
FROM employees;
"""
fsql(q)

   ROUND(AVG(salary))
0             91572.0

## Subconsultas i.e.: "Subqueries"

Podemos usar una consulta como una fuente de informaciòn:

Supongamos quiero el promedio del salario de los empleados PERO quiero excluir a los empleados con el màximo y el mínimo salario.

In [58]:

q="""
SELECT ROUND(AVG(salary))
FROM employees
WHERE salary NOT IN (                             -- una lista con el max y el min
        (SELECT MAX(salary) FROM employees),      --aquí el máximo
        (SELECT MIN(salary) FROM employees)       -- aquí el mínimo
);
"""
fsql(q)

   ROUND(AVG(salary))
0             91567.0

Supongamos quiero empleados asignados a un departamento que NO está en la tabla de departamentos:

In [59]:

q="""
SELECT * FROM employees
WHERE department NOT IN (SELECT department FROM departments)
LIMIT 5;
"""
fsql(q)

Empty DataFrame
Columns: [employee_id, first_name, last_name, email, hire_date, department, gender, salary, region_id]
Index: []

Comprobando lo anterior:

In [60]:
q="""
SELECT * FROM departments
ORDER BY department
LIMIT 10;
"""
fsql(q)

   department_id         department      division
0             22         Automotive   Electronics
1              8             Beauty         Healt
2             15              Books  Enterteiment
3             17            Camping  Enterteiment
4              7  Children Clothing          Home
5              4           Clothing          Home
6              6          Computers   Electronics
7             20          Cosmetics         Healt
8             12              Decor          Home
9              3      Device Repair   Electronics

Obtengamos todos los empleados que trabajan en la división de 'Electronics'.

In [62]:

q="""
SELECT * FROM employees
WHERE department IN (SELECT department FROM departments
                    WHERE division = 'Electronics')
"""
fsql(q)

     employee_id  first_name     last_name  ... gender  salary region_id
0              4       Avrom     Rowantree  ...      M  119674         7
1              5      Feliks       Morffew  ...      M   55307         5
2              8      Seline        Dubber  ...      F  101066         3
3             13      Anetta         Arnao  ...      F   38162         1
4             19  Bernardine     Hendricks  ...      F  158268         3
..           ...         ...           ...  ...    ...     ...       ...
202          988        Tabb    Huddleston  ...      M   47591         6
203          989         Ari      Queripel  ...      M   80695         1
204          992   Katharine      Brussels  ...      F   29806         5
205          994      Aurlie  Kindleysides  ...      F  104822         3
206          998    Brandice    Gillicuddy  ...      F  134058         2

[207 rows x 9 columns]

Obtengamos a los empleados que trabajan en USA o Canada Y que ganan más de 120k USD:

In [63]:
regions

   region_id        region        country
0          1     Southwest  United States
1          2     Northeast  United States
2          3     Northwest  United States
3          4  Central Asia           Asia
4          5     East Asia           Asia
5          6    North Asia           Asia
6          7         South         Canada

In [64]:
q="""
SELECT * FROM employees
WHERE salary > 120000
AND region_id IN (SELECT region_id FROM regions
                WHERE country IN ('United States','Canada'))
"""

fsql(q)

     employee_id  first_name   last_name  ... gender  salary region_id
0              6     Bethena        Trow  ...      F  134501         3
1             11      Nickey     Pointon  ...      M  126333         7
2             14        Jodi        Hook  ...      F  126588         2
3             19  Bernardine   Hendricks  ...      F  158268         3
4             27       Niles    Chawkley  ...      M  156303         3
..           ...         ...         ...  ...    ...     ...       ...
174          972  Cirstoforo     Mulloch  ...      M  141256         7
175          974      Thorpe        Bick  ...      M  121211         1
176          987      Granny      Barhem  ...      M  125798         1
177          997     Rhianna      Trynor  ...      F  120753         7
178          998    Brandice  Gillicuddy  ...      F  134058         2

[179 rows x 9 columns]

1

#### Definir alias
Si utilizo un alias para una variable, necesito referenciar dicho alias en el query externo:

In [ ]:
query="""
SELECT a.empl_name, a.yearly_salary            ---- necesitamos usar los alias. Como sólo tenemos un data source podrìamos
FROM (SELECT first_name empl_name, salary yearly_salary     ---omitirlo, pero si màs de un source, es "ambiguous".
        FROM employees
        WHERE salary > 150000) a;
"""
select(query)

In [ ]:
employees.head(3)

### CASE

Crearemos una variable 'paid_status' con base en la siguiente definición:

* salary < 90000. --> 'under paid'
* salary >= 90000 AND salary < 150000 --> 'paid ok'
* en otro caso 'Sr Director'

* --> sentencia CASE:

In [ ]:
query="""
SELECT first_name, salary,
CASE
    WHEN salary < 90000 THEN 'under paid'
    WHEN salary >= 90000 AND salary < 150000 THEN 'paid ok'
    ELSE 'Sr Director'
END AS paid_status
FROM employees
ORDER BY salary DESC
LIMIT 5;
"""
select(query)

In [ ]:
employees['salary'].describe()

In [ ]:
employees.info()


Sup quiero transponer los datos, i.e.:

    under paid     paid ok     Sr Director
        504          375           121

In [ ]:

query="""
SELECT SUM(CASE WHEN salary < 90000 THEN 1 ELSE 0 END) under_paid,
SUM(CASE WHEN salary >= 90000 AND salary < 150000 THEN 1 ELSE 0 END) AS paid_ok,
SUM(CASE WHEN salary >= 150000 THEN 1 ELSE 0 END) AS Sr_Director
FROM employees;
"""
select(query)

In [ ]:
employees.head()

Obtener el número de empleados por depto, considerando sólo los deptos 'Sports', 'Tools', 'Clothing'

In [ ]:
query="""
SELECT department, COUNT(*) num_empleados
FROM employees
WHERE department IN ('Sports', 'Tools', 'Clothing')
GROUP BY department;
"""
select(query)

Si quiero transponer estos resultados de la siguiente forma:

    Clothing     Sports    Tools
      49           34        39

In [ ]:
query="""
SELECT SUM(CASE WHEN department = 'Tools' THEN 1 ELSE 0 END) num_empl_tools,
SUM(CASE WHEN department = 'Sports' THEN 1 ELSE 0 END) num_empl_sports,
SUM(CASE WHEN department = 'Clothing' THEN 1 ELSE 0 END) num_empl_clothing
FROM employees;
"""
select(query)

In [ ]:
query="""
SELECT SUM(CASE WHEN department='Tools' THEN 1 ELSE 0 END) num_emp_tools,
SUM(CASE WHEN department='Sports' THEN 1 ELSE 0 END) num_emp_sports,
SUM(CASE WHEN department='Clothing' THEN 1 ELSE 0 END) num_emp_clothing

FROM employees

UNION
SELECT AVG(CASE WHEN department='Tools' THEN 1 ELSE 0 END) num_emp_tools,
AVG(CASE WHEN department='Sports' THEN 1 ELSE 0 END) num_emp_sports,
AVG(CASE WHEN department='Clothing' THEN 1 ELSE 0 END) num_emp_clothing

FROM employees
"""
select(query)

## JOIN

Algunas consultas a bases de datos implican la unión de dos o más tablas. La manera básica de unir dos tablar es
la siguiente:
    
```SQL
SELECT C0, C1, ..., CN 
FROM table(s)
JOIN other_table(s) 
ON (tabla_name.c1=other_table.c2)
```
* `JOIN`
* `LEFT JOIN`
* `RIGHT JOIN`
* `FULL JOIN`

![image.png]()

In [ ]:
employees.head()

In [ ]:
regions.head()

Necesitamos el nombre del empleado y el país (country) al que está asignado.

Queremos empleados que estén asignados a alguna de las regiones de la tabla 'regions' --> INNER JOIN (o simplemente JOIN)

In [ ]:
query="""
SELECT first_name, country
FROM employees INNER JOIN regions
ON employees.region_id = regions.region_id
"""
select(query)

In [ ]:
query="""
SELECT e.first_name, r.country
FROM employees e JOIN regions r   --JOIN --> intersecciòn
ON e.region_id = r.region_id
"""
select(query)

Queremos para cada empleado, traer first_name, email, division, y queremos que tenga email informado:

In [ ]:
query="""
SELECT first_name, email, division
FROM employees e JOIN departments d
ON e.department = d.department
WHERE email IS NOT NULL;
"""
select(query)

Supongamos además, que quiero el campo country

In [ ]:
query="""
SELECT first_name, email, division, country
FROM employees e JOIN departments d
ON e.department = d.department
JOIN regions r ON e.region_id = r.region_id     -- OTRO JOIN para pegar columna country
WHERE email IS NOT NULL;
"""
select(query)

In [ ]:
regions.head(3)

LEFT JOIN / RIGHT JOIN

Este tipo de unión significa que solo retornan todos los datos de la tabla de la mano izquierda (derecha), solo si los datos coinciden con la tabla de la mano derecha (izquierda)

![SQL_left.png]()

![SQL_right.png]()

Cruzaremos empleados y departamentos, veremos los distintos de cada uno:

In [ ]:
query="""
SELECT DISTINCT department FROM employees;
"""
select(query)
## --> TENEMOS 27 distintos departamentos en la tabla employees

In [ ]:
query="""
SELECT DISTINCT department FROM departments;
"""
select(query)
#--> tenemos 23

Cruce "LEFT JOIN" usando departamento como llave de cruce

In [ ]:
#LEFT JOIN:
query="""
SELECT DISTINCT e.department AS emp_department, d.department AS dep_deparment
FROM employees e LEFT JOIN departments d
ON e.department = d.department
"""
select(query)

Cruce "RIGHT JOIN" usando departamento como llave de cruce

In [ ]:
#RIGHT JOIN
query="""
SELECT DISTINCT e.department AS emp_department, d.department AS dep_deparment
FROM departments d LEFT JOIN employees e
ON e.department = d.department
"""
select(query)

## *SQLAlchemy* y los *ORM*s

A grandes rasgos, un ORM (Object Relational Mapper) abstrae el código derivado de una consulta en SQL y nos permite hacer 
esas mimsa consultas bajo un paradigma OOP. En otras palabras, en lugar de ocupar SQL, estaremos ocupando 
Python como clases para hacer consultas. 

Para conectarnos a una base de datos con `SQLAlchemy` es necesario crear un `engine`. Este `*engine*` crea una interfaz 
entre Python y la base de datos sobre la cual estaremos ejecutando comandos. 

```
dialect[+driver]://user:password@host/dbname[?key=value...]
```

donde

* `dialect` es el nombre de la base de datos
* `driver` es el manejador de la base de datos

En nuestro caso, `dialect=mysql` y `driver=pymysql`.

In [65]:
from sqlalchemy import create_engine
engstr= f"mysql+pymysql://carlos_carrasco1:{passw}@db4free.net:3306/nabla_python1"
engine=create_engine(engstr)
engine

Engine(mysql+pymysql://carlos_carrasco1:***@db4free.net:3306/nabla_python1)

Al crear un `engine`, este no se conecta directamente a la base de datos. Para conectarse se requiere una llamada
al método `connect()`.

In [66]:
conn=engine.connect()
	
conn.close()


### _SQLAlchemy_ como un _ORM_
Para poder trabajar con tablas dentro de una base de datos con _SQLAlchemy_ es necesario declarar la estructura de la base de datos como una clase. 

SQLAlchemy sigue un sistema *declarativo* definido en tèrminos de una base clase la cual mantiene un catálogo de clases (tablas) definidas relativas a esa base. Esta base clase es conocida como un **DBC** (declarative base class)


#### Ejemplo

Consideremos las tablas `employees` y `offices` definidas dentro de la base de datos `nabla_python1`. 
```
mysql> DESCRIBE employees; 
+----------------+--------------+------+-----+---------+-------+
| Field          | Type         | Null | Key | Default | Extra |
+----------------+--------------+------+-----+---------+-------+
| employeeNumber | int(11)      | NO   | PRI | NULL    |       |
| lastName       | varchar(50)  | NO   |     | NULL    |       |
| firstName      | varchar(50)  | NO   |     | NULL    |       |
| extension      | varchar(10)  | NO   |     | NULL    |       |
| email          | varchar(100) | NO   |     | NULL    |       |
| officeCode     | varchar(10)  | NO   | MUL | NULL    |       |
| reportsTo      | int(11)      | YES  | MUL | NULL    |       |
| jobTitle       | varchar(50)  | NO   |     | NULL    |       |
+----------------+--------------+------+-----+---------+-------+
```

```
mysql> DESCRIBE offices;
+--------------+-------------+------+-----+---------+-------+
| Field        | Type        | Null | Key | Default | Extra |
+--------------+-------------+------+-----+---------+-------+
| officeCode   | varchar(10) | NO   | PRI | NULL    |       |
| city         | varchar(50) | NO   |     | NULL    |       |
| phone        | varchar(50) | NO   |     | NULL    |       |
| addressLine1 | varchar(50) | NO   |     | NULL    |       |
| addressLine2 | varchar(50) | YES  |     | NULL    |       |
| state        | varchar(50) | YES  |     | NULL    |       |
| country      | varchar(50) | NO   |     | NULL    |       |
| postalCode   | varchar(15) | NO   |     | NULL    |       |
| territory    | varchar(10) | NO   |     | NULL    |       |
+--------------+-------------+------+-----+---------+-------+
```
De querer hacer una consulta sobre esta tablar anteriormente definida, será necesario crear una instancia de un _DBC_ y añadir esta tabla a nuestra catálogo.

In [67]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class Employee(Base): 
    __tablename__ = "employees"
    employeeNumber = Column(Integer, primary_key=True)
    lastName=Column(String(50))
    firstName=Column(String(50))
    extension=Column(String(10))
    email=Column(String(100))
    officeCode= Column(Integer, index = True)
    reportsTo=Column(Integer, index = True)
    jobTitle=Column(String(50))
    
class Office(Base): 
    __tablename__ = "offices"
    officeCode = Column(String(10), primary_key=True)
    city=Column(String(50))
    phone=Column(String(50))
    addressLine1=Column(String(50))
    addressLine2=Column(String(50))
    state=Column(String(50))
    country=Column(String(50))
    postalCode=Column(String(15))
    territory=Column(String(10))

En un caso real, el catálogo de tablar para una base de datos estaría viviendo dentro de un archivo *.py

#### Sesiones
Para SQLAlchemy, una sesión es la encargada de hacer la conexión pcon la base de datos; mandar los _queries_ y regresar la información 

Una `Session` tiene otras propiedades importantes para el registro y manimpulación de una base de datos que no veremos. (https://docs.sqlalchemy.org/en/13/orm/session_basics.html)

In [68]:

from sqlalchemy.orm import sessionmaker

engine=create_engine(engstr)
Session=sessionmaker(bind=engine)
sess=Session()

#### Queries sobre sesiones
Como mencionamos anteriormente, un _ORM_ nos permite hacer consultas sobre una base de datos usando únicamente Python. A continuación veremos algunas de las traducciones de SQL a SQLAlchemy
```SQL
SELECT *
FROM employees
LIMIT 5;

```

In [69]:
for instance in sess.query(Employee).limit(5):
    print(instance.firstName)

Diane
Mary
Jeff
William
Gerard


```SQL
SELECT firstName, lastName
FROM employees
LIMIT 5;
```

In [70]:
query=sess.query(Employee.firstName, Employee.lastName).limit(5)

for instance in query:
    print(instance)

('Diane', 'Murphy')
('Mary', 'Patterson')
('Jeff', 'Firrelli')
('William', 'Patterson')
('Gerard', 'Bondur')


```SQL
SELECT DISTINCT firstName
FROM employees
LIMIT 5; 
````

In [71]:
query=(sess.query(Employee.firstName)
            .distinct(Employee.firstName)
           .limit(5))
for instance in query: 
    print(instance.firstName)

Diane
Mary
Jeff
William
Gerard

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SADeprecationWarning: DISTINCT ON is currently supported only by the PostgreSQL dialect.  Use of DISTINCT ON for other backends is currently silently ignored, however this usage is deprecated, and will raise CompileError in a future release for all backends that do not support this syntax.
  after removing the cwd from sys.path.

```SQL
SELECT firstName, email
FROM employees
WHERE jobTitle= "VP Marketing";
```

In [72]:
query=(sess.query(Employee.firstName, Employee.email)
      .filter(Employee.jobTitle=="VP Marketing"))
for instance in query: 
    print(instance)

('Jeff', 'jfirrelli@classicmodelcars.com')

```SQL
WITH tb1 AS(
    SELECT reportsTo, COUNT(reportsTo) as count_rep
    FROM employees
    GROUP BY employee)
  
 SELECT * FROM tb1
 WHERE reportTo IS NOT NULL; 
```

In [73]:
from sqlalchemy import func
query1=(sess.query(Employee.reportsTo, 
                  func.count(Employee.reportsTo).label("count_rep"))
       .group_by(Employee.reportsTo)).subquery()

query=sess.query(query1).filter(query1.c.reportsTo != None)

for instance in query: 
    print(instance)

(1002, 2)
(1056, 4)
(1088, 3)
(1102, 6)
(1143, 6)
(1621, 1)

```SQL
SELECT firstName, city
FROM employees 
JOIN offices ON employees.officeCode==offices.officeCode
LIMIT 10; 
```

In [74]:
query=(sess.query(Employee.firstName, Office.city)
      .join(Office, Office.officeCode == Employee.officeCode)
      .limit(10))

for instance in query: 
    print(instance)

('Diane', 'San Francisco')
('Mary', 'San Francisco')
('Jeff', 'San Francisco')
('Anthony', 'San Francisco')
('Leslie', 'San Francisco')
('Leslie', 'San Francisco')
('Julie', 'Boston')
('Steve', 'Boston')
('Foon Yue', 'NYC')
('George', 'NYC')