<a href="https://colab.research.google.com/github/pikey-msc/Python/blob/main/M3/C3_M3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

## Pandas Series
 Serie (series):  arreglo etiquetado de UNA DIMENSIÓN. Como una columna de una tabla.
**Importante**: consistencia. i.e: mismo tipo de datos.
 Usamos el método .Series() para crear una serie

Series es un método constructor

 A ese método debemos pasarle un input. Le podemos pasar una lista.    ``series(): lista --> serie.``

In [38]:
!rm -rf Python
!git clone https://github.com/pikey-msc/Python.git

Cloning into 'Python'...
remote: Enumerating objects: 112, done.
remote: Counting objects: 100% (112/112), done.
remote: Compressing objects: 100% (87/87), done.
remote: Total 112 (delta 31), reused 5 (delta 0), pack-reused 0
Receiving objects: 100% (112/112), 2.93 MiB | 4.91 MiB/s, done.
Resolving deltas: 100% (31/31), done.

In [ ]:
#Importamos la paquetería
import pandas as pd

Construir una serie de una lista.

In [ ]:
paises =["Mex", "USA", "Francia", "Inglaterra"]

In [ ]:
paises

['Mex', 'USA', 'Francia', 'Inglaterra']

In [ ]:
pd.Series(paises)

0           Mex
1           USA
2       Francia
3    Inglaterra
dtype: object

In [ ]:
num =[1.02, 2.5]
pd.Series(num)

0    1.02
1    2.50
dtype: float64

In [ ]:
cond = [True, False, False]
pd.Series(cond)

0     True
1    False
2    False
dtype: bool

In [ ]:
len(cond)

3

Crear una serie de un diccionario:

In [ ]:
dic = {"pelicula": "Jumanji", "genero": "Accion", "año": 2017}
dic

{'año': 2017, 'genero': 'Accion', 'pelicula': 'Jumanji'}

In [ ]:
pd.Series(dic)

pelicula    Jumanji
genero       Accion
año            2017
dtype: object

# Indroducción a Métodos y atributos

In [ ]:
ciudades = ['CDMX', 'Puebla', 'París', 'Londres', 'Milán']
cds = pd.Series(ciudades)
cds

0       CDMX
1     Puebla
2      París
3    Londres
4      Milán
dtype: object

In [ ]:
cds.values

array(['CDMX', 'Puebla', 'París', 'Londres', 'Milán'], dtype=object)

In [ ]:
cds.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
cds.dtype

dtype('O')

In [ ]:
type(cds)

pandas.core.series.Series

In [ ]:
precios = [3.5, 10.99, 4.89, 5]
p= pd.Series(precios)
saldos = [-2900, 10000, 5000, -1000]
sal = pd.Series(saldos)
print(sal)
print(p)

0    -2900
1    10000
2     5000
3    -1000
dtype: int64
0     3.50
1    10.99
2     4.89
3     5.00
dtype: float64

In [ ]:
# método suma
p.sum()

24.38

In [ ]:
sal.abs()

0     2900
1    10000
2     5000
3     1000
dtype: int64

In [ ]:
p.shape

(4,)

In [ ]:
p.product()

940.46925

In [ ]:
p.mean()

6.095

In [ ]:
p.cumsum()

0     3.50
1    14.49
2    19.38
3    24.38
dtype: float64

In [ ]:
comida = ['huevo','res','pollo','pescado','frutas']
dias = ['lu','ma','mie','jue','vie']
pd.Series(comida, dias)
#pd.Series(data, index)

lu       huevo
ma         res
mie      pollo
jue    pescado
vie     frutas
dtype: object

In [ ]:
pd.Series(data=comida, index=dias) #forma explícita

lu       huevo
ma         res
mie      pollo
jue    pescado
vie     frutas
dtype: object



A diferencia de un diccionario, los valores del índice de una serie pueden NO SER ÚNICOS.

# Carga de archivos

##CSV

In [ ]:
iris = pd.read_csv('Python/M3/S3/iris.csv', usecols= ["Species"], squeeze = True)

In [ ]:
iris

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

LDA: linear discriminant analysis, o bien LDA = Latend Dirichlet allocation

In [ ]:
type(iris)

pandas.core.series.Series

In [ ]:
len(iris)

150

In [ ]:
iris

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [ ]:
iris.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: Species, dtype: object

In [ ]:
iris.tail(8)

142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, dtype: object

Ordenado de forma descendente --> regresa una lista.

In [ ]:
sorted(iris, reverse=True)

['virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa']

In [ ]:
type(iris)

pandas.core.series.Series

In [ ]:
max(iris)

'virginica'

In [ ]:
min(iris)

'setosa'

In [ ]:
import numpy as np

In [ ]:
lista = [1, np.nan,3,4]
s= pd.Series(lista)

In [ ]:
s

0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64

Conteo de los nulos

In [ ]:
s.size

4

Para contar valores en una serie, usar método value_counts()

In [ ]:
s.value_counts()

1.0    1
3.0    1
4.0    1
dtype: int64

Sumar los valores únicos del value_count

In [ ]:
s.value_counts().sum()

3

Otra forma es utilizando .nunique(), siendo "n" valores "unicos"

In [ ]:
s.nunique()

3

In [ ]:
iris

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

### Indexación

In [ ]:
iris = pd.read_csv('Python/M3/S3/iris.csv', usecols= ["Species"], squeeze = True)

Queremos buscar 'setosa' en iris.

"in" busca sobre el ìndice de la serie, NO sobre los valores

In [ ]:
'setosa' in iris

False

In [ ]:
'setosa' in iris.values

True

#### Índices

In [ ]:
iris[0]

'setosa'

Acceder a varios elementos de la serie --> le paso una lista como argumento:

In [ ]:
iris[[2,5,10]]

2     setosa
5     setosa
10    setosa
Name: Species, dtype: object

Límite superior es NO INCLUSIVO

In [ ]:
iris[10:100]

10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
         ...
95    versicolor
96    versicolor
97    versicolor
98    versicolor
99    versicolor
Name: Species, Length: 90, dtype: object

Lista empezando desde el inicio hasta el 49

In [ ]:
iris[:50]

0     setosa
1     setosa
2     setosa
3     setosa
4     setosa
5     setosa
6     setosa
7     setosa
8     setosa
9     setosa
10    setosa
11    setosa
12    setosa
13    setosa
14    setosa
15    setosa
16    setosa
17    setosa
18    setosa
19    setosa
20    setosa
21    setosa
22    setosa
23    setosa
24    setosa
25    setosa
26    setosa
27    setosa
28    setosa
29    setosa
30    setosa
31    setosa
32    setosa
33    setosa
34    setosa
35    setosa
36    setosa
37    setosa
38    setosa
39    setosa
40    setosa
41    setosa
42    setosa
43    setosa
44    setosa
45    setosa
46    setosa
47    setosa
48    setosa
49    setosa
Name: Species, dtype: object

Últimos 10 elementos

In [ ]:
iris[-10:]

140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, dtype: object

Lista empezando desde el índice 20 hasta el final

In [ ]:
iris[20:]

20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 130, dtype: object

Importamos iris_id

In [ ]:
iris_id = pd.read_csv("Python/M3/S3/iris.csv", usecols = ["Id", "Species"], index_col="Id", squeeze = True)

In [ ]:
iris_id.head()

Id
A1    setosa
A2    setosa
A3    setosa
A4    setosa
A5    setosa
Name: Species, dtype: object

In [ ]:
iris_id[0]

'setosa'

Lista para obtener varios elementos

In [ ]:
iris_id[[20,30,40]]

Id
A21    setosa
A31    setosa
A41    setosa
Name: Species, dtype: object

### Etiquetas

También se puede extraer usando las ETIQUETAS del índice:

In [ ]:
iris_id['A70']

'versicolor'

In [ ]:
########## Ejemplo error ##########

#PREGUNTA: ¿Qué pasaría con la siguiente linea de còdigo
# iris_id["A70", "A100", "A121"]

# necesitamos pasar una lista ["s1", "s2",..., "sn"]

In [ ]:
iris_id[["A70", "A100", "A121"]]

Id
A70     versicolor
A100    versicolor
A121     virginica
Name: Species, dtype: object

Aquí límite superior SI se incluye

In [ ]:
iris_id["A1": "A20"]

Id
A1     setosa
A2     setosa
A3     setosa
A4     setosa
A5     setosa
A6     setosa
A7     setosa
A8     setosa
A9     setosa
A10    setosa
A11    setosa
A12    setosa
A13    setosa
A14    setosa
A15    setosa
A16    setosa
A17    setosa
A18    setosa
A19    setosa
A20    setosa
Name: Species, dtype: object

Lista del 1 al 19 teniendo saltos de 2 en 2, por lo que ya no se incluye al 20.

In [ ]:
iris_id["A1":"A20": 2]

Id
A1     setosa
A3     setosa
A5     setosa
A7     setosa
A9     setosa
A11    setosa
A13    setosa
A15    setosa
A17    setosa
A19    setosa
Name: Species, dtype: object

In [ ]:
########## Ejemplo error ##########

# iris_id[["A70", "A100", "A300"]]
#error ya que el valor "A300" NO EXISTE

In [ ]:
iris_id.tail()

Id
A146    virginica
A147    virginica
A148    virginica
A149    virginica
A150    virginica
Name: Species, dtype: object

## JSON

Podemos cargar un fichero JSON en Pandas DataFrame utilizando la función pandas.read_json() pasando la ruta del fichero JSON como parámetro a la función pandas.read_json().

Vamos a crear un DataFrame a partir del archivo data.json.

### Columnas

    {
      "Name": {
        "1": "Anil",
        "2": "Biraj",
        "3": "Apil",
        "4": "Kapil"
      },
      "Age": {
          "1": 23,
          "2": 25,
          "3": 28,
          "4": 30
      },
      "Height": {
          "1": 170,
          "2": 168,
          "3": 174,
          "4": 165
      }
    }

El código siguiente nos muestra el DataFrame generado a partir de los datos del fichero data_columnas.json. Debemos asegurarnos de que tenemos el archivo data.json en nuestro directorio de trabajo actual para generar el DataFrame; de lo contrario, debemos proporcionar la ruta completa del archivo JSON como argumento al método pandas.read_json().

In [ ]:
df_json=pd.read_json("Python/M3/S3/data_columnas.json")

print(df_json)

    Name  Age  Height
1   Anil   23     170
2  Biraj   25     168
3   Apil   28     174
4  Kapil   30     165

El DataFrame formado a partir del archivo JSON depende de la orientación del archivo JSON. Tenemos tres orientaciones diferentes del archivo JSON en general.

Orientado al índice
Orientado a valores
Orientado a columnas

### Índices

    {
      "0": {
          "Name": "Anil",
          "Age": 23,
          "Height": 170
      },
      "1": {
          "Name": "Biraj",
          "Age": 25,
          "Height": 168
      },
      "2": {
          "Name": "Apil",
          "Age": 26,
          "Height": 174
      },
      "3": {
          "Name": "Kapil",
          "Age": 20,
          "Height": 165
      }
    }

In [ ]:
df_json_indice=pd.read_json("Python/M3/S3/data_indice.json")

print(df_json_indice)

           0      1     2      3
Name    Anil  Biraj  Apil  Kapil
Age       23     25    26     20
Height   170    168   174    165

## Valores

    [
      ["Anil", 23, 170],
      ["Biraj", 25, 168],
      ["Apil", 26, 174],
      ["Kapil", 26, 165]
    ]

In [ ]:
df_json_indice=pd.read_json("Python/M3/S3/data_valores.json")

print(df_json_indice)

       0   1    2
0   Anil  23  170
1  Biraj  25  168
2   Apil  26  174
3   Kpil  26  165

#Manipulación de información

##Extracción de registros

## set_index()

El método set_index fija una columna del dataframe como índice, descartando el índice existente.

In [ ]:
df = pd.read_csv("Python/M3/S3/employees.csv")
df.head()

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [ ]:
df.set_index('first_name', inplace = True)

In [ ]:
df.head()

            employee_id  last_name  ...  salary region_id
first_name                          ...
Berrie                1    Manueau  ...  154864         4
Aeriell               2      McNee  ...   56752         3
Sydney                3    Symonds  ...   95313         4
Avrom                 4  Rowantree  ...  119674         7
Feliks                5    Morffew  ...   55307         5

[5 rows x 8 columns]

In [ ]:
df.index

Index(['Berrie', 'Aeriell', 'Sydney', 'Avrom', 'Feliks', 'Bethena', 'Ardeen',
       'Seline', 'Dayle', 'Redford',
       ...
       'Marquita', 'Katharine', 'Frank', 'Aurlie', 'Reese', 'Gardiner',
       'Rhianna', 'Brandice', 'Kingston', 'Jacquelin'],
      dtype='object', name='first_name', length=1000)

In [ ]:
df.reset_index(inplace = True)

In [ ]:
'Thomas' in df['first_name'].values

False

## .loc[ ]

loc se utiliza para acceder a registros usando las ETIQUETAS del índice.

In [ ]:
df.head()

  first_name  employee_id  last_name  ... gender  salary region_id
0     Berrie            1    Manueau  ...      F  154864         4
1    Aeriell            2      McNee  ...      F   56752         3
2     Sydney            3    Symonds  ...      F   95313         4
3      Avrom            4  Rowantree  ...      M  119674         7
4     Feliks            5    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first_name   1000 non-null   object
 1   employee_id  1000 non-null   int64
 2   last_name    1000 non-null   object
 3   email        796 non-null    object
 4   hire_date    1000 non-null   object
 5   department   1000 non-null   object
 6   gender       1000 non-null   object
 7   salary       1000 non-null   int64
 8   region_id    1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

In [ ]:
df['hire_date'] = pd.to_datetime(df['hire_date'])

In [ ]:
df.set_index('hire_date', inplace = True)
df.head(3)

           first_name  employee_id last_name  ... gender  salary region_id
hire_date                                     ...
2006-04-20     Berrie            1   Manueau  ...      F  154864         4
2009-01-26    Aeriell            2     McNee  ...      F   56752         3
2010-05-17     Sydney            3   Symonds  ...      F   95313         4

[3 rows x 8 columns]

In [ ]:
df.sort_index(inplace = True)

In [ ]:
df.head(10)

           first_name  employee_id   last_name  ... gender  salary region_id
hire_date                                       ...
2003-01-01  Cassandra          300      Hoston  ...      F  106936         7
2003-01-01     Norbie          271  Bleasdille  ...      M   82215         6
2003-01-03      Dayle            9       Trail  ...      F   82753         1
2003-01-11        Lyn          225      Guppie  ...      F   41380         4
2003-01-14     Feliks            5     Morffew  ...      M   55307         5
2003-01-20   Cecilius          739      Cottey  ...      M   98882         6
2003-01-26   Eugenius          488       Siege  ...      M  152118         1
2003-02-03       Bear          486    Sessions  ...      M  143117         3
2003-02-05       Tabb          988  Huddleston  ...      M   47591         6
2003-02-06      Byron          874     Rummins  ...      M   54434         1

[10 rows x 8 columns]

In [ ]:
df.loc['2003-02-05']

first_name                          Tabb
employee_id                          988
last_name                     Huddleston
email          thuddlestonrf@yahoo.co.jp
department                    Automotive
gender                                 M
salary                             47591
region_id                              6
Name: 2003-02-05 00:00:00, dtype: object

In [ ]:
type(df.loc['2003-02-05'])

pandas.core.series.Series

In [ ]:
df.reset_index(inplace=True)
df.set_index('first_name', inplace = True)
df.head()

            hire_date  employee_id   last_name  ... gender  salary region_id
first_name                                      ...
Cassandra  2003-01-01          300      Hoston  ...      F  106936         7
Norbie     2003-01-01          271  Bleasdille  ...      M   82215         6
Dayle      2003-01-03            9       Trail  ...      F   82753         1
Lyn        2003-01-11          225      Guppie  ...      F   41380         4
Feliks     2003-01-14            5     Morffew  ...      M   55307         5

[5 rows x 8 columns]

In [ ]:
df.loc['Lyn']

hire_date      2003-01-11 00:00:00
employee_id                    225
last_name                   Guppie
email           lguppie68@army.mil
department        Phones & Tablets
gender                           F
salary                       41380
region_id                        4
Name: Lyn, dtype: object

In [ ]:
df.set_index('gender', inplace=True)

In [ ]:
df.head()

        hire_date  employee_id   last_name  ...        department  salary  region_id
gender                                      ...
F      2003-01-01          300      Hoston  ...            Beauty  106936          7
M      2003-01-01          271  Bleasdille  ...         First Aid   82215          6
F      2003-01-03            9       Trail  ...         First Aid   82753          1
F      2003-01-11          225      Guppie  ...  Phones & Tablets   41380          4
M      2003-01-14            5     Morffew  ...         Computers   55307          5

[5 rows x 7 columns]

In [ ]:
df.index

Index(['F', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M',
       ...
       'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'F'],
      dtype='object', name='gender', length=1000)

In [ ]:
df.reset_index(inplace = True)
df.head()

  gender  hire_date  employee_id  ...        department  salary region_id
0      F 2003-01-01          300  ...            Beauty  106936         7
1      M 2003-01-01          271  ...         First Aid   82215         6
2      F 2003-01-03            9  ...         First Aid   82753         1
3      F 2003-01-11          225  ...  Phones & Tablets   41380         4
4      M 2003-01-14            5  ...         Computers   55307         5

[5 rows x 8 columns]

In [ ]:
df = pd.read_csv("Python/M3/S3/employees.csv")
df.set_index('first_name', inplace=True)
df.head()

            employee_id  last_name  ...  salary region_id
first_name                          ...
Berrie                1    Manueau  ...  154864         4
Aeriell               2      McNee  ...   56752         3
Sydney                3    Symonds  ...   95313         4
Avrom                 4  Rowantree  ...  119674         7
Feliks                5    Morffew  ...   55307         5

[5 rows x 8 columns]

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df.head(10)

            employee_id  last_name  ...  salary region_id
first_name                          ...
Abbot               708    Attwill  ...   78935         3
Abbott              648     Mundow  ...  106517         7
Abby                216  Seawright  ...   56889         3
Adam                636    Fenwick  ...   67057         3
Addia               536     Dannel  ...   20613         5
Addy                317    Warlock  ...  101112         3
Adelaida            232    Peebles  ...   50306         7
Adelaide            753     Gubbin  ...   27578         7
Adrian              541       Vase  ...   41871         7
Adrianna            609   Pickford  ...  108411         2

[10 rows x 8 columns]

Aquí el segundo valor SI es inclusivo

In [ ]:
df.loc['Berrie': 'Diana']

            employee_id    last_name  ...  salary region_id
first_name                            ...
Berrie                1      Manueau  ...  154864         4
Berte               749  Westmerland  ...  125125         6
Berthe              965       Buller  ...  156041         6
Berti               771    Randerson  ...  150740         3
Bertie              184   Androletti  ...  109859         3
...                 ...          ...  ...     ...       ...
Denney              202       Ducker  ...   42447         4
Dennison            503       Redier  ...   83160         5
Devon               778        Pauly  ...   27049         2
Devondra            500    Bannester  ...   94635         7
Dexter              939     McDermid  ...   80657         4

[165 rows x 8 columns]

Del valor indicado hasta el final

In [ ]:
df.loc['John':]

            employee_id     last_name  ...  salary region_id
first_name                             ...
Johnette            152      Claworth  ...   27750         3
Johnnie             114        Waight  ...  120362         6
Joleen              156      Rothwell  ...   29838         2
Jonas               954      Winslett  ...   62382         7
Jonathan            863        Hegden  ...  121524         1
...                 ...           ...  ...     ...       ...
Zahara              576  Hindenberger  ...   88174         7
Zane                 25         Breem  ...   56688         6
Zebulon              72        Guppey  ...   89221         7
Zeke                800      Keyworth  ...  163688         2
Zita                734         Lavis  ...   51503         3

[493 rows x 8 columns]

Desde el principio hasta el valor indicado

In [ ]:
df.loc[:'Gary']

            employee_id  last_name  ...  salary region_id
first_name                          ...
Abbot               708    Attwill  ...   78935         3
Abbott              648     Mundow  ...  106517         7
Abby                216  Seawright  ...   56889         3
Adam                636    Fenwick  ...   67057         3
Addia               536     Dannel  ...   20613         5
...                 ...        ...  ...     ...       ...
Garald              482     Sunman  ...  145225         2
Gardiner            996       Aron  ...  111859         1
Garold              395    Chasney  ...  118100         7
Garrard             670    Baudone  ...  104859         7
Garrot              353    Geldart  ...   28293         1

[382 rows x 8 columns]

In [ ]:
df.loc["Berti"]

employee_id                            771
last_name                        Randerson
email          brandersonle@opensource.org
hire_date                         06/10/16
department               Children Clothing
gender                                   M
salary                              150740
region_id                                3
Name: Berti, dtype: object

Si quiero extraer màs de un registro se le proporciona una lista

In [ ]:
df.loc[['Berti', 'Garrot', 'Zane']]

            employee_id  last_name  ...  salary region_id
first_name                          ...
Berti               771  Randerson  ...  150740         3
Garrot              353    Geldart  ...   28293         1
Zane                 25      Breem  ...   56688         6

[3 rows x 8 columns]

## iloc[]

"index location"

In [ ]:
df.head(3)

            employee_id  last_name  ...  salary region_id
first_name                          ...
Abbot               708    Attwill  ...   78935         3
Abbott              648     Mundow  ...  106517         7
Abby                216  Seawright  ...   56889         3

[3 rows x 8 columns]

In [ ]:
df.iloc[0]

employee_id                       708
last_name                     Attwill
email          aattwilljn@cbsnews.com
hire_date                    08/12/10
department                     Movies
gender                              M
salary                          78935
region_id                           3
Name: Abbot, dtype: object

In [ ]:
df.loc['Abby']

employee_id                     216
last_name                 Seawright
email          aseawright5z@ask.com
hire_date                  01/09/11
department                  Jewelry
gender                            F
salary                        56889
region_id                         3
Name: Abby, dtype: object

In [ ]:
df.iloc[[1,5,7]]

            employee_id last_name  ...  salary region_id
first_name                         ...
Abbott              648    Mundow  ...  106517         7
Addy                317   Warlock  ...  101112         3
Adelaide            753    Gubbin  ...   27578         7

[3 rows x 8 columns]

In [ ]:
df.iloc[4:8]

            employee_id last_name  ...  salary region_id
first_name                         ...
Addia               536    Dannel  ...   20613         5
Addy                317   Warlock  ...  101112         3
Adelaida            232   Peebles  ...   50306         7
Adelaide            753    Gubbin  ...   27578         7

[4 rows x 8 columns]

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df.iloc[4:8]

  first_name  employee_id last_name  ... gender  salary region_id
4      Addia          536    Dannel  ...      F   20613         5
5       Addy          317   Warlock  ...      F  101112         3
6   Adelaida          232   Peebles  ...      F   50306         7
7   Adelaide          753    Gubbin  ...      F   27578         7

[4 rows x 9 columns]

Extraer desde el inicio hasta el cuarto registro.

In [ ]:
df.iloc[:4]

  first_name  employee_id  last_name  ... gender  salary region_id
0      Abbot          708    Attwill  ...      M   78935         3
1     Abbott          648     Mundow  ...      M  106517         7
2       Abby          216  Seawright  ...      F   56889         3
3       Adam          636    Fenwick  ...      M   67057         3

[4 rows x 9 columns]

In [ ]:
df.iloc[4:]

    first_name  employee_id     last_name  ... gender  salary region_id
4        Addia          536        Dannel  ...      F   20613         5
5         Addy          317       Warlock  ...      F  101112         3
6     Adelaida          232       Peebles  ...      F   50306         7
7     Adelaide          753        Gubbin  ...      F   27578         7
8       Adrian          541          Vase  ...      F   41871         7
..         ...          ...           ...  ...    ...     ...       ...
995     Zahara          576  Hindenberger  ...      F   88174         7
996       Zane           25         Breem  ...      M   56688         6
997    Zebulon           72        Guppey  ...      M   89221         7
998       Zeke          800      Keyworth  ...      M  163688         2
999       Zita          734         Lavis  ...      F   51503         3

[996 rows x 9 columns]

In [ ]:
df.iloc[24]

first_name                Alexander
employee_id                     763
last_name                    Bodker
email          abodkerl6@drupal.org
hire_date                  01/08/10
department                    Music
gender                            M
salary                       151422
region_id                         4
Name: 24, dtype: object

## Ejemplos

In [ ]:
df = pd.read_csv("Python/M3/S3/employees.csv")
df.head()

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [ ]:
df.set_index('hire_date', inplace=True)

In [ ]:
df.sort_index(inplace = True)
df.head(4)

           employee_id first_name    last_name  ... gender  salary region_id
hire_date                                       ...
01/01/03           271     Norbie   Bleasdille  ...      M   82215         6
01/01/03           300  Cassandra       Hoston  ...      F  106936         7
01/01/04            15     Alyson  Franzonello  ...      F   61256         6
01/01/05           556     Mollie        Darco  ...      F   76273         7

[4 rows x 8 columns]

Intersección entre fila y columna

In [ ]:
df.loc['01/01/05', 'first_name']

'Mollie'

In [ ]:
df.loc['01/01/05', ['first_name', 'salary']]

first_name    Mollie
salary         76273
Name: 01/01/05, dtype: object

Pasamos 2 listas., donde la salida (output) es tipo df.

In [ ]:
df.loc[['01/01/05', '01/03/12'], ['first_name', 'salary']]

          first_name  salary
hire_date
01/01/05      Mollie   76273
01/03/12        Cary  134559

In [ ]:
df.loc[['01/01/05', '01/03/12'], 'first_name': 'department']

          first_name last_name                email department
hire_date
01/01/05      Mollie     Darco  mdarcoff@taobao.com      Music
01/03/12        Cary      Lark    clarkqb@blogs.com  First Aid

'ini': 'fin' para reng y cols.

In [ ]:
df.loc['01/01/05':'01/06/07', 'first_name': 'department']

          first_name  ...        department
hire_date             ...
01/01/05      Mollie  ...             Music
01/01/06       Roger  ...     Device Repair
01/01/08      Candra  ...         Computers
01/01/15    Emanuele  ...            Garden
01/02/07       Cayla  ...           Grocery
01/02/15       Annie  ...              Toys
01/03/03       Dayle  ...         First Aid
01/03/09       Jania  ...             Music
01/03/12        Cary  ...         First Aid
01/03/14     Gustavo  ...            Sports
01/04/04       Cybil  ...        Automotive
01/04/04       Olvan  ...             Books
01/04/15      Marijo  ...  Phones & Tablets
01/05/07      Bordie  ...            Garden
01/05/09       Paxon  ...          Pharmacy
01/05/12     Gabriel  ...         Cosmetics
01/06/07       Binni  ...             Decor

[17 rows x 4 columns]

In [ ]:
df.loc['01/01/05':'01/06/07', :'salary']

           employee_id first_name  last_name  ...        department gender  salary
hire_date                                     ...
01/01/05           556     Mollie      Darco  ...             Music      F   76273
01/01/06           480      Roger    Spurdon  ...     Device Repair      M   20664
01/01/08           966     Candra     Vannet  ...         Computers      F   97259
01/01/15            28   Emanuele  Sandcraft  ...            Garden      M   70827
01/02/07            22      Cayla     Duffer  ...           Grocery      F   78589
01/02/15           804      Annie      Denge  ...              Toys      F  149161
01/03/03             9      Dayle      Trail  ...         First Aid      F   82753
01/03/09           250      Jania     Larway  ...             Music      F   86683
01/03/12           948       Cary       Lark  ...         First Aid      M  134559
01/03/14           398    Gustavo   Jollands  ...            Sports      M   77085
01/04/04           515      Cybil      Perez  ...        Automotive      F  123828
01/04/04           123      Olvan      Ladds  ...             Books      M   61102
01/04/15           387     Marijo     Hostan  ...  Phones & Tablets      F   71197
01/05/07           594     Bordie    Kulvear  ...            Garden      M   48468
01/05/09           729      Paxon  Northidge  ...          Pharmacy      M  162924
01/05/12           199    Gabriel    Widocks  ...         Cosmetics      M  154376
01/06/07           237      Binni      Daily  ...             Decor      F   38707

[17 rows x 7 columns]

In [ ]:
df.loc['01/01/05':'01/06/07', 'gender':]

          gender  salary  region_id
hire_date
01/01/05       F   76273          7
01/01/06       M   20664          6
01/01/08       F   97259          2
01/01/15       M   70827          2
01/02/07       F   78589          3
01/02/15       F  149161          3
01/03/03       F   82753          1
01/03/09       F   86683          6
01/03/12       M  134559          1
01/03/14       M   77085          3
01/04/04       F  123828          1
01/04/04       M   61102          3
01/04/15       F   71197          7
01/05/07       M   48468          7
01/05/09       M  162924          4
01/05/12       M  154376          5
01/06/07       F   38707          2

Análogamente para .iloc[]

In [ ]:
df.head()

           employee_id first_name    last_name  ... gender  salary region_id
hire_date                                       ...
01/01/03           271     Norbie   Bleasdille  ...      M   82215         6
01/01/03           300  Cassandra       Hoston  ...      F  106936         7
01/01/04            15     Alyson  Franzonello  ...      F   61256         6
01/01/05           556     Mollie        Darco  ...      F   76273         7
01/01/06           480      Roger      Spurdon  ...      M   20664         6

[5 rows x 8 columns]

In [ ]:
#Sup quiero renglones 10:12 y cols quiero hasta Bonus %
df.iloc[10:12, :5]

           employee_id first_name last_name                  email department
hire_date
01/03/09           250      Jania    Larway  jlarway6x@skyrock.com      Music
01/03/12           948       Cary      Lark      clarkqb@blogs.com  First Aid

In [ ]:
df.iloc[10:12, [0,1,4]]

           employee_id first_name department
hire_date
01/03/09           250      Jania      Music
01/03/12           948       Cary  First Aid

In [ ]:
df.reset_index(inplace = True)
df.head()

  hire_date  employee_id first_name  ... gender  salary region_id
0  01/01/03          271     Norbie  ...      M   82215         6
1  01/01/03          300  Cassandra  ...      F  106936         7
2  01/01/04           15     Alyson  ...      F   61256         6
3  01/01/05          556     Mollie  ...      F   76273         7
4  01/01/06          480      Roger  ...      M   20664         6

[5 rows x 9 columns]

In [ ]:
df.loc[1,'department'] = 'Marketing'
df.head()

  hire_date  employee_id first_name  ... gender  salary region_id
0  01/01/03          271     Norbie  ...      M   82215         6
1  01/01/03          300  Cassandra  ...      F  106936         7
2  01/01/04           15     Alyson  ...      F   61256         6
3  01/01/05          556     Mollie  ...      F   76273         7
4  01/01/06          480      Roger  ...      M   20664         6

[5 rows x 9 columns]

In [ ]:
df.loc[1, ['region_id', 'department']] = [5, 'Finance']

In [ ]:
df.head()

  hire_date  employee_id first_name  ... gender  salary region_id
0  01/01/03          271     Norbie  ...      M   82215         6
1  01/01/03          300  Cassandra  ...      F  106936         5
2  01/01/04           15     Alyson  ...      F   61256         6
3  01/01/05          556     Mollie  ...      F   76273         7
4  01/01/06          480      Roger  ...      M   20664         6

[5 rows x 9 columns]

Si queremos cambiar verificar un valor de una columna todas las veces que aparezca nos regresará un booleano:

In [ ]:
df['first_name']== 'Cassandra'

0      False
1       True
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: first_name, Length: 1000, dtype: bool

In [ ]:
is_Cassandra = df['first_name'] == 'Cassandra'

In [ ]:
df.loc[is_Cassandra]

  hire_date  employee_id first_name  ... gender  salary region_id
1  01/01/03          300  Cassandra  ...      F  106936         5

[1 rows x 9 columns]

In [ ]:
is_male = df['gender']== 'M'
df[is_male]

    hire_date  employee_id first_name  ... gender  salary region_id
0    01/01/03          271     Norbie  ...      M   82215         6
4    01/01/06          480      Roger  ...      M   20664         6
6    01/01/15           28   Emanuele  ...      M   70827         2
11   01/03/12          948       Cary  ...      M  134559         1
12   01/03/14          398    Gustavo  ...      M   77085         3
..        ...          ...        ...  ...    ...     ...       ...
994  31/07/09          335      Tripp  ...      M  111798         7
996  31/10/04          155    Fleming  ...      M   66813         4
997  31/12/03          786     Billie  ...      M   64956         5
998  31/12/04          383        Dun  ...      M   82064         2
999  31/12/15          470     Hallsy  ...      M   98649         5

[499 rows x 9 columns]

In [ ]:
df.loc[is_Cassandra, 'first_name'] = 'Cass'

In [ ]:
df

    hire_date  employee_id first_name  ... gender  salary region_id
0    01/01/03          271     Norbie  ...      M   82215         6
1    01/01/03          300       Cass  ...      F  106936         5
2    01/01/04           15     Alyson  ...      F   61256         6
3    01/01/05          556     Mollie  ...      F   76273         7
4    01/01/06          480      Roger  ...      M   20664         6
..        ...          ...        ...  ...    ...     ...       ...
995  31/08/13          301     Harley  ...      F   72504         2
996  31/10/04          155    Fleming  ...      M   66813         4
997  31/12/03          786     Billie  ...      M   64956         5
998  31/12/04          383        Dun  ...      M   82064         2
999  31/12/15          470     Hallsy  ...      M   98649         5

[1000 rows x 9 columns]

In [ ]:
df.set_index('gender', inplace = True)
df.tail()

       hire_date  employee_id first_name  ...         department salary region_id
gender                                    ...
F       31/08/13          301     Harley  ...           Pharmacy  72504         2
M       31/10/04          155    Fleming  ...              Games  66813         4
M       31/12/03          786     Billie  ...           Plumbing  64956         5
M       31/12/04          383        Dun  ...   Phones & Tablets  82064         2
M       31/12/15          470     Hallsy  ...  Children Clothing  98649         5

[5 rows x 8 columns]

Le pedimos todos las filas que tengan nulos

In [ ]:
df[df.index.isnull()]

Empty DataFrame
Columns: [hire_date, employee_id, first_name, last_name, email, department, salary, region_id]
Index: []

# Manipulación

### Agregar variables

Usando la sentencia ``<nombre dataframe>["var nueva"]``

In [40]:
df = pd.read_csv("Python/M3/S3/employees.csv")
df.head()

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [ ]:
df["BandaSalMiles"] = df["salary"]/1000
df.head()

   employee_id first_name  last_name  ...  salary region_id BandaSalMiles
0            1     Berrie    Manueau  ...  154864         4       154.864
1            2    Aeriell      McNee  ...   56752         3        56.752
2            3     Sydney    Symonds  ...   95313         4        95.313
3            4      Avrom  Rowantree  ...  119674         7       119.674
4            5     Feliks    Morffew  ...   55307         5        55.307

[5 rows x 10 columns]

#### Usando Numpy `np.select` y `np.choices`

In [ ]:
import numpy as np

Agregar una condición como sigue:

```
si salary <15000 entonces banda=1

si no y <= 30000 entonces Banda=2

si no y <= 60000 entonces Banda=3

si no y <= 90000 entonces Banda=4

si no y <= 120000 entonces Banda=5

si no  Banda=6
```

In [43]:
conditions = [df['salary']<15000, df['salary'] <= 30000, df['salary']<60000, df['salary'] <= 90000,df['salary'] <= 120000]
 
choices = [1,2,3,4,5]

In [44]:
df['Bandas'] = np.select(conditions, choices, default= 6 )
df.head(5)

   employee_id first_name  last_name  ... region_id Bandas2 Bandas
0            1     Berrie    Manueau  ...         4       6      6
1            2    Aeriell      McNee  ...         3       3      3
2            3     Sydney    Symonds  ...         4       5      5
3            4      Avrom  Rowantree  ...         7       5      5
4            5     Feliks    Morffew  ...         5       3      3

[5 rows x 11 columns]

#### Usando funciones ``apply``  y ``lambda``

In [39]:
def bandas(salary):
    if salary < 15000:
        banda=1
    elif salary < 30000:
        banda=2
    elif salary < 60000:
        banda=3
    elif salary < 90000:
        banda=4   
    elif salary < 120000:
        banda=5            
    else:
        banda=6
    return banda

In [42]:
df['Bandas2'] = df.apply(lambda x: bandas(x['salary']), axis=1)
df.head(10)

   employee_id first_name  last_name  ...  salary region_id Bandas2
0            1     Berrie    Manueau  ...  154864         4       6
1            2    Aeriell      McNee  ...   56752         3       3
2            3     Sydney    Symonds  ...   95313         4       5
3            4      Avrom  Rowantree  ...  119674         7       5
4            5     Feliks    Morffew  ...   55307         5       3
5            6    Bethena       Trow  ...  134501         3       6
6            7     Ardeen    Curwood  ...   28995         7       2
7            8     Seline     Dubber  ...  101066         3       5
8            9      Dayle      Trail  ...   82753         1       4
9           10    Redford    Roberti  ...   72225         7       4

[10 rows x 10 columns]

### Filtros

In [ ]:
cond1 = df['gender']=='F'
cond2 = df['salary']> 90000

In [ ]:
df[cond1 & cond2]

     employee_id first_name     last_name  ... gender  salary region_id
0              1     Berrie       Manueau  ...      F  154864         4
2              3     Sydney       Symonds  ...      F   95313         4
5              6    Bethena          Trow  ...      F  134501         3
7              8     Seline        Dubber  ...      F  101066         3
11            12    Leonora      Casaroli  ...      F   99504         3
..           ...        ...           ...  ...    ...     ...       ...
974          975       Isis        McKinn  ...      F  124444         4
979          980      Lyndy        Tooker  ...      F  112796         4
993          994     Aurlie  Kindleysides  ...      F  104822         3
996          997    Rhianna        Trynor  ...      F  120753         7
997          998   Brandice    Gillicuddy  ...      F  134058         2

[247 rows x 9 columns]

In [ ]:
df['first_name'].value_counts()

Billie       3
Roslyn       3
Ashia        2
Cody         2
Darrin       2
            ..
Maridel      1
Daren        1
Paulo        1
Taite        1
Jacquelin    1
Name: first_name, Length: 929, dtype: int64

In [ ]:
is_Roslyn = df['first_name'] == 'Roslyn'

In [ ]:
#list comprehension:
[i for i in is_Roslyn.index if is_Roslyn[i]]

[125, 128, 443]

In [ ]:
df.iloc[[125, 128, 443]]

     employee_id first_name last_name  ... gender  salary region_id
125          126     Roslyn      Guiu  ...      F  157260         1
128          129     Roslyn     Frape  ...      F   91287         6
443          444     Roslyn     Purse  ...      F   42605         2

[3 rows x 9 columns]

## Drop

In [ ]:
df.drop(1) #quitar renglòn con índice igual 1

     employee_id first_name   last_name  ... gender  salary region_id
0              1     Berrie     Manueau  ...      F  154864         4
2              3     Sydney     Symonds  ...      F   95313         4
3              4      Avrom   Rowantree  ...      M  119674         7
4              5     Feliks     Morffew  ...      M   55307         5
5              6    Bethena        Trow  ...      F  134501         3
..           ...        ...         ...  ...    ...     ...       ...
995          996   Gardiner        Aron  ...      M  111859         1
996          997    Rhianna      Trynor  ...      F  120753         7
997          998   Brandice  Gillicuddy  ...      F  134058         2
998          999   Kingston      Piwall  ...      M   45679         7
999         1000  Jacquelin      Cassam  ...      F   28726         2

[999 rows x 9 columns]

In [ ]:
df.drop([1,3,5]) #quitar renglones con índices 1,3 y 5

     employee_id first_name   last_name  ... gender  salary region_id
0              1     Berrie     Manueau  ...      F  154864         4
2              3     Sydney     Symonds  ...      F   95313         4
4              5     Feliks     Morffew  ...      M   55307         5
6              7     Ardeen     Curwood  ...      F   28995         7
7              8     Seline      Dubber  ...      F  101066         3
..           ...        ...         ...  ...    ...     ...       ...
995          996   Gardiner        Aron  ...      M  111859         1
996          997    Rhianna      Trynor  ...      F  120753         7
997          998   Brandice  Gillicuddy  ...      F  134058         2
998          999   Kingston      Piwall  ...      M   45679         7
999         1000  Jacquelin      Cassam  ...      F   28726         2

[997 rows x 9 columns]

In [ ]:
df.head(7)

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5
5            6    Bethena       Trow  ...      F  134501         3
6            7     Ardeen    Curwood  ...      F   28995         7

[7 rows x 9 columns]

In [ ]:
#sup queremos quitar columna 'Gender'
df.drop('gender', axis = 1)   #actua sobre columnas

     employee_id first_name   last_name  ...        department  salary region_id
0              1     Berrie     Manueau  ...            Sports  154864         4
1              2    Aeriell       McNee  ...             Tools   56752         3
2              3     Sydney     Symonds  ...          Clothing   95313         4
3              4      Avrom   Rowantree  ...  Phones & Tablets  119674         7
4              5     Feliks     Morffew  ...         Computers   55307         5
..           ...        ...         ...  ...               ...     ...       ...
995          996   Gardiner        Aron  ...            Garden  111859         1
996          997    Rhianna      Trynor  ...            Beauty  120753         7
997          998   Brandice  Gillicuddy  ...  Phones & Tablets  134058         2
998          999   Kingston      Piwall  ...             Music   45679         7
999         1000  Jacquelin      Cassam  ...             Music   28726         2

[1000 rows x 8 columns]

In [ ]:
df.drop(['gender', 'salary'], axis = 1)

     employee_id first_name   last_name  ... hire_date        department region_id
0              1     Berrie     Manueau  ...  20/04/06            Sports         4
1              2    Aeriell       McNee  ...  26/01/09             Tools         3
2              3     Sydney     Symonds  ...  17/05/10          Clothing         4
3              4      Avrom   Rowantree  ...  02/08/14  Phones & Tablets         7
4              5     Feliks     Morffew  ...  14/01/03         Computers         5
..           ...        ...         ...  ...       ...               ...       ...
995          996   Gardiner        Aron  ...  29/11/15            Garden         1
996          997    Rhianna      Trynor  ...  07/04/05            Beauty         7
997          998   Brandice  Gillicuddy  ...  30/11/14  Phones & Tablets         2
998          999   Kingston      Piwall  ...  07/07/12             Music         7
999         1000  Jacquelin      Cassam  ...  27/01/10             Music         2

[1000 rows x 7 columns]

In [ ]:
#otro metodo para borrar columnas --> pop()
# Es permanente y devuelve lo que borró
# NO REQUIERE inplace

In [ ]:
nombre = df.pop('first_name')
nombre

0         Berrie
1        Aeriell
2         Sydney
3          Avrom
4         Feliks
         ...
995     Gardiner
996      Rhianna
997     Brandice
998     Kingston
999    Jacquelin
Name: first_name, Length: 1000, dtype: object

In [ ]:
df.head()

   employee_id  last_name                 email  ... gender  salary region_id
0            1    Manueau  bmanueau0@dion.ne.jp  ...      F  154864         4
1            2      McNee     amcnee1@google.es  ...      F   56752         3
2            3    Symonds     ssymonds2@hhs.gov  ...      F   95313         4
3            4  Rowantree                   NaN  ...      M  119674         7
4            5    Morffew      fmorffew4@a8.net  ...      M   55307         5

[5 rows x 8 columns]

In [ ]:
# otra forma:
del df['salary']

In [ ]:
df

     employee_id   last_name  ... gender region_id
0              1     Manueau  ...      F         4
1              2       McNee  ...      F         3
2              3     Symonds  ...      F         4
3              4   Rowantree  ...      M         7
4              5     Morffew  ...      M         5
..           ...         ...  ...    ...       ...
995          996        Aron  ...      M         1
996          997      Trynor  ...      F         7
997          998  Gillicuddy  ...      F         2
998          999      Piwall  ...      M         7
999         1000      Cassam  ...      F         2

[1000 rows x 7 columns]

## Where

In [ ]:
df = pd.read_csv("Python/M3/S3/employees.csv")
df.head(3)

   employee_id first_name last_name  ... gender  salary region_id
0            1     Berrie   Manueau  ...      F  154864         4
1            2    Aeriell     McNee  ...      F   56752         3
2            3     Sydney   Symonds  ...      F   95313         4

[3 rows x 9 columns]

In [ ]:
df[df['first_name']== 'Billie']

     employee_id first_name last_name  ... gender  salary region_id
175          176     Billie  Trebbett  ...      M  123320         7
785          786     Billie  Alderman  ...      M   64956         5
895          896     Billie     Hould  ...      M   48551         4

[3 rows x 9 columns]

In [ ]:
is_Billie = df['first_name']== 'Billie'
df[is_Billie]

     employee_id first_name last_name  ... gender  salary region_id
175          176     Billie  Trebbett  ...      M  123320         7
785          786     Billie  Alderman  ...      M   64956         5
895          896     Billie     Hould  ...      M   48551         4

[3 rows x 9 columns]

In [ ]:
df.where(is_Billie).style

In [ ]:
[i for i in is_Billie.index if is_Billie[i]]

[175, 785, 895]

In [ ]:
df.where(is_Billie).iloc[[175, 785, 895]]

     employee_id first_name last_name  ... gender    salary region_id
175        176.0     Billie  Trebbett  ...      M  123320.0       7.0
785        786.0     Billie  Alderman  ...      M   64956.0       5.0
895        896.0     Billie     Hould  ...      M   48551.0       4.0

[3 rows x 9 columns]

In [ ]:
df.where(is_Billie).iloc[[i for i in is_Billie.index if is_Billie[i]]]

     employee_id first_name last_name  ... gender    salary region_id
175        176.0     Billie  Trebbett  ...      M  123320.0       7.0
785        786.0     Billie  Alderman  ...      M   64956.0       5.0
895        896.0     Billie     Hould  ...      M   48551.0       4.0

[3 rows x 9 columns]

## Query

In [ ]:
## Los nombres de las variables necesitan NO TENER ESPACIOS
# df['variable']
# df.variable --> no funciona si el nombre tiene espacios.

In [ ]:
df.head(3)

   employee_id first_name last_name  ... gender  salary region_id
0            1     Berrie   Manueau  ...      F  154864         4
1            2    Aeriell     McNee  ...      F   56752         3
2            3     Sydney   Symonds  ...      F   95313         4

[3 rows x 9 columns]

In [ ]:
df.query("first_name == 'Billie' and salary > 50000")

     employee_id first_name last_name  ... gender  salary region_id
175          176     Billie  Trebbett  ...      M  123320         7
785          786     Billie  Alderman  ...      M   64956         5

[2 rows x 9 columns]

In [ ]:
df.query('first_name == "Billie" and salary > 50000 and department == "Furniture"')

     employee_id first_name last_name  ... gender  salary region_id
175          176     Billie  Trebbett  ...      M  123320         7

[1 rows x 9 columns]

## Group by

1. Se crean grupos basados en valores comunes de ciertas columnas
2. Ideal para agrupar por columnas que tienen valores repetidos.

In [ ]:
equipos = df.groupby('department') #este es un groupby Object
# El argumento es string o una lista de strings
# va a hacer un loop a travès de filas que tengan cada uno de los valores de columna

In [ ]:
equipos.first()
# da el primer registro dentro de cada grupo

                   employee_id  first_name  ...  salary region_id
department                                  ...
Automotive                  23       Vanda  ...  103570         4
Beauty                      12     Leonora  ...   99504         3
Books                       47      Byrann  ...  121054         7
Camping                     82        Dani  ...  102516         2
Children Clothing           38        Edna  ...   91397         5
Clothing                     3      Sydney  ...   95313         4
Computers                    5      Feliks  ...   55307         5
Cosmetics                   25        Zane  ...   56688         6
Decor                      137        Darn  ...  152418         7
Device Repair               19  Bernardine  ...  158268         3
First Aid                    9       Dayle  ...   82753         1
Furniture                   15      Alyson  ...   61256         6
Games                       13      Anetta  ...   38162         1
Garden                      28    Emanuele  ...   70827         2
Grocery                     22       Cayla  ...   78589         3
Jewelry                     11      Nickey  ...  126333         7
Maintenance                203      Lindsy  ...   42370         4
Movies                      16      Merell  ...   78141         7
Music                       52      Charla  ...  162206         2
Pharmacy                    24     Corabel  ...   91323         3
Phones & Tablets             4       Avrom  ...  119674         7
Plumbing                   351       Giana  ...  144363         6
Security                   505     Corabel  ...   36641         6
Sports                       1      Berrie  ...  154864         4
Tools                        2     Aeriell  ...   56752         3
Toys                        17      Annora  ...   75283         5
Vitamins                    39      Mikael  ...   52642         1

[27 rows x 8 columns]

In [ ]:
type(equipos) # es un grupo de DataFrames dentro del objeto GroupBy

pandas.core.groupby.generic.DataFrameGroupBy

In [ ]:
len(equipos) #Equipos

27

In [ ]:
df['department'].nunique() # hay 10 dif equipos en nuestra tabla

27

In [ ]:
df['department'].unique() #Valores unicos

array(['Sports', 'Tools', 'Clothing', 'Phones & Tablets', 'Computers',
       'First Aid', 'Jewelry', 'Beauty', 'Games', 'Furniture', 'Movies',
       'Toys', 'Device Repair', 'Grocery', 'Automotive', 'Pharmacy',
       'Cosmetics', 'Garden', 'Children Clothing', 'Vitamins', 'Books',
       'Music', 'Camping', 'Decor', 'Maintenance', 'Plumbing', 'Security'],
      dtype=object)

In [ ]:
df['department'].value_counts() #Conteo de valores y acomodados de mayor a menor

First Aid            58
Movies               56
Device Repair        51
Clothing             49
Toys                 47
Computers            47
Children Clothing    47
Beauty               45
Furniture            43
Garden               41
Jewelry              41
Decor                39
Tools                39
Pharmacy             38
Books                37
Vitamins             37
Camping              36
Games                36
Phones & Tablets     35
Cosmetics            34
Sports               34
Automotive           32
Music                29
Grocery              28
Maintenance           8
Plumbing              7
Security              6
Name: department, dtype: int64

In [ ]:
equipos.size() #departamento acomodado alfabéticamente

department
Automotive           32
Beauty               45
Books                37
Camping              36
Children Clothing    47
Clothing             49
Computers            47
Cosmetics            34
Decor                39
Device Repair        51
First Aid            58
Furniture            43
Games                36
Garden               41
Grocery              28
Jewelry              41
Maintenance           8
Movies               56
Music                29
Pharmacy             38
Phones & Tablets     35
Plumbing              7
Security              6
Sports               34
Tools                39
Toys                 47
Vitamins             37
dtype: int64

In [ ]:
equipos.last() # última fila en cada grupo dentro equipos

                   employee_id  first_name  ...  salary region_id
department                                  ...
Automotive                 988        Tabb  ...   47591         6
Beauty                     997     Rhianna  ...  120753         7
Books                      976       Lydon  ...   48145         3
Camping                    971     Noellyn  ...   86895         5
Children Clothing          993       Frank  ...   95828         7
Clothing                   972  Cirstoforo  ...  141256         7
Computers                  986      Sheila  ...   23878         1
Cosmetics                  908  Georgeanne  ...  132783         6
Decor                      973        Dona  ...   98159         1
Device Repair              994      Aurlie  ...  104822         3
First Aid                  990   Cristiano  ...  105648         2
Furniture                  965      Berthe  ...  156041         6
Games                      884      Gordan  ...   40268         3
Garden                     996    Gardiner  ...  111859         1
Grocery                    985       Nelli  ...   52846         5
Jewelry                    953      Edgard  ...   62116         6
Maintenance                982        Enid  ...   54434         5
Movies                     987      Granny  ...  125798         1
Music                     1000   Jacquelin  ...   28726         2
Pharmacy                   962        Wash  ...  158546         5
Phones & Tablets           998    Brandice  ...  134058         2
Plumbing                   786      Billie  ...   64956         5
Security                   730     Timothy  ...   65680         6
Sports                     991    Marquita  ...   38909         4
Tools                      978        Shem  ...  121211         5
Toys                       995       Reese  ...  102169         3
Vitamins                   944         Fee  ...   80502         2

[27 rows x 8 columns]

In [ ]:
## Un atributo del objeto groupby > atributo groups
equipos.groups
#devuelve un DICCIONARIO, donde las llaves (keys) representa cada único grupo y los valores el índice (filas) de
# nuestro df original

{'Automotive': [22, 89, 96, 125, 246, 248, 273, 304, 366, 384, 393, 433, 437, 455, 459, 494, 514, 569, 577, 647, 682, 709, 753, 782, 798, 835, 839, 842, 843, 926, 950, 987], 'Beauty': [11, 29, 34, 49, 59, 113, 147, 160, 182, 192, 203, 233, 255, 277, 299, 346, 352, 354, 385, 434, 444, 453, 458, 481, 510, 521, 525, 538, 629, 638, 663, 685, 686, 691, 718, 763, 795, 827, 830, 874, 878, 910, 924, 959, 996], 'Books': [46, 104, 106, 111, 116, 122, 152, 226, 242, 334, 381, 392, 423, 498, 527, 567, 584, 596, 599, 617, 631, 692, 693, 705, 726, 736, 781, 802, 828, 873, 886, 912, 941, 955, 956, 962, 975], 'Camping': [81, 85, 90, 129, 139, 180, 185, 208, 211, 222, 237, 296, 305, 320, 355, 471, 476, 482, 562, 592, 621, 641, 650, 655, 676, 688, 706, 773, 774, 777, 824, 904, 909, 916, 958, 970], 'Children Clothing': [37, 54, 55, 61, 78, 114, 143, 146, 167, 201, 260, 279, 303, 341, 345, 402, 438, 443, 452, 454, 469, 492, 506, 508, 509, 511, 536, 579, 581, 646, 658, 667, 668, 683, 687, 699, 716, 747, 758, 770, 817, 826, 857, 867, 951, 954, 992], 'Clothing': [2, 6, 9, 20, 47, 53, 69, 79, 83, 91, 120, 145, 166, 172, 221, 258, 281, 285, 302, 313, 315, 322, 347, 376, 401, 441, 449, 490, 507, 524, 545, 547, 606, 659, 674, 702, 727, 730, 739, 757, 790, 792, 807, 809, 815, 851, 885, 957, 971], 'Computers': [4, 19, 35, 60, 72, 73, 92, 103, 169, 206, 239, 306, 312, 332, 333, 344, 380, 389, 406, 408, 431, 446, 477, 532, 565, 612, 619, 642, 680, 725, 748, 766, 767, 769, 816, 818, 840, 847, 850, 856, 892, 901, 913, 928, 965, 979, 985], 'Cosmetics': [24, 52, 133, 148, 174, 194, 198, 254, 286, 310, 317, 340, 383, 409, 418, 425, 436, 468, 489, 526, 574, 624, 627, 628, 648, 653, 712, 771, 797, 801, 861, 895, 899, 907], 'Decor': [136, 196, 220, 236, 245, 269, 272, 298, 325, 348, 375, 416, 424, 470, 485, 488, 497, 513, 566, 575, 580, 610, 616, 626, 651, 662, 681, 714, 723, 732, 737, 749, 869, 877, 914, 933, 946, 967, 972], 'Device Repair': [18, 32, 43, 48, 75, 80, 115, 124, 141, 142, 153, 157, 159, 161, 170, 176, 212, 229, 253, 267, 278, 282, 314, 339, 359, 362, 367, 404, 428, 479, 503, 515, 520, 591, 649, 684, 694, 722, 791, 793, 796, 810, 811, 829, 849, 871, 896, 953, 968, 982, 993], 'First Aid': [8, 31, 56, 82, 119, 138, 178, 188, 191, 199, 200, 256, 266, 270, 297, 301, 319, 326, 328, 391, 432, 457, 466, 475, 499, 500, 558, 559, 600, 603, 608, 620, 644, 661, 677, 698, 734, 735, 741, 743, 761, 764, 780, 786, 823, 825, 836, 859, 889, 891, 900, 906, 908, 917, 919, 935, 947, 989], 'Furniture': [14, 40, 99, 134, 164, 168, 175, 184, 197, 251, 311, 335, 371, 378, 394, 400, 439, 440, 467, 528, 556, 557, 563, 590, 609, 632, 640, 700, 703, 740, 745, 759, 778, 787, 794, 833, 837, 858, 862, 884, 888, 894, 964], 'Games': [12, 28, 64, 77, 135, 149, 151, 154, 158, 204, 207, 228, 238, 241, 280, 295, 329, 351, 530, 533, 534, 537, 553, 561, 598, 634, 652, 656, 756, 760, 800, 819, 834, 852, 855, 883], 'Garden': [27, 30, 102, 128, 132, 137, 171, 209, 218, 290, 293, 330, 361, 364, 370, 372, 374, 398, 442, 463, 517, 518, 519, 546, 564, 587, 593, 607, 611, 625, 657, 660, 701, 715, 866, 890, 921, 948, 949, 973, 995], 'Grocery': [21, 44, 57, 100, 123, 257, 288, 373, 387, 399, 435, 472, 535, 573, 586, 623, 633, 643, 664, 721, 813, 822, 832, 893, 903, 945, 969, 984], 'Jewelry': [10, 65, 67, 98, 162, 181, 193, 213, 215, 247, 252, 275, 283, 307, 308, 323, 337, 368, 396, 403, 414, 417, 447, 462, 484, 512, 548, 589, 601, 605, 678, 679, 720, 754, 768, 772, 805, 853, 875, 938, 952], 'Maintenance': [202, 568, 784, 927, 939, 960, 963, 981], 'Movies': [15, 25, 26, 36, 95, 101, 107, 109, 112, 117, 131, 165, 173, 187, 223, 231, 243, 250, 327, 338, 349, 356, 357, 390, 429, 430, 448, 491, 496, 516, 522, 550, 551, 552, 560, 576, 582, 614, 636, 654, 672, 673, 675, 707, 789, 804, 844, 848, 870, 876, 880, 920, 944, 974, 976, 986], 'Music': [51, 87, 121, 177, 183, 195, 214, 240, 249, 262, 360, 369, 388, 486, 540, 555, 666, 697, 710, 711, 719, 762, 765, 868, 918, 980, 983, 998, 999], 'Pharmacy': [23, 42, 84, 94, 110, 156, 259, 264, 268, 274, 284, 300, 318, 324, 377, 407, 421, 427, 478, 493, 502, 578, 585, 588, 594, 595, 613, 671, 696, 728, 775, 779, 806, 812, 838, 934, 937, 961], 'Phones & Tablets': [3, 7, 45, 58, 74, 105, 130, 140, 224, 232, 265, 271, 289, 294, 382, 386, 395, 405, 411, 413, 474, 529, 544, 602, 637, 645, 713, 731, 882, 897, 942, 966, 988, 991, 997], 'Plumbing': [350, 412, 480, 618, 744, 755, 785], 'Security': [504, 543, 604, 670, 704, 729], 'Sports': [0, 5, 33, 50, 76, 88, 155, 163, 189, 190, 205, 210, 336, 397, 422, 460, 473, 501, 523, 539, 542, 554, 572, 597, 635, 665, 751, 783, 831, 845, 846, 923, 978, 990], 'Tools': [1, 13, 39, 62, 66, 86, 93, 97, 118, 144, 179, 186, 219, 225, 227, 235, 244, 276, 321, 365, 379, 420, 456, 461, 495, 570, 571, 639, 695, 708, 808, 864, 865, 887, 902, 905, 925, 932, 977], 'Toys': [16, 17, 41, 63, 68, 71, 108, 126, 127, 150, 216, 217, 230, 261, 263, 292, 316, 353, 358, 363, 410, 426, 445, 450, 464, 465, 483, 487, 531, 541, 630, 746, 750, 752, 776, 788, 799, 803, 814, 898, 911, 922, 930, 931, 936, 940, 994], 'Vitamins': [38, 70, 234, 287, 291, 309, 331, 342, 343, 415, 419, 451, 505, 549, 583, 615, 622, 669, 689, 690, 717, 724, 733, 738, 742, 820, 821, 841, 854, 860, 863, 872, 879, 881, 915, 929, 943]}

In [ ]:
equipos.get_group('Automotive')

     employee_id  first_name   last_name  ... gender  salary region_id
22            23       Vanda     Marwick  ...      F  103570         4
89            90       Irita      Starie  ...      F  160783         1
96            97     Jilleen       Toone  ...      F  137393         3
125          126      Roslyn        Guiu  ...      F  157260         1
246          247      Tammie   Grishukov  ...      F  160039         5
248          249    Sterling       Pagen  ...      M   56095         7
273          274     Lorelle   Kelberman  ...      F  119959         7
304          305     Ladonna      McCrow  ...      F  111775         2
366          367    Lauretta      Rounds  ...      F   75978         6
384          385         Doe  Larkworthy  ...      F  106046         1
393          394      Stormy    Najafian  ...      F  126983         6
433          434  Clementina  Frankcombe  ...      F   95492         1
437          438      Betsey    Reedshaw  ...      F  152141         2
455          456    Jessalyn      Horley  ...      F   86929         7
459          460   Cherianne       Oxnam  ...      F  150821         6
494          495        Mill       Makey  ...      M  162522         7
514          515       Cybil       Perez  ...      F  123828         1
569          570          Cy       Mence  ...      M  144146         7
577          578      Katlin     Bemrose  ...      F   60089         6
647          648      Abbott      Mundow  ...      M  106517         7
682          683      Noelyn   De Marchi  ...      F  125305         4
709          710      Charis   Bradborne  ...      F  130995         3
753          754        Ivie      Aubrey  ...      F  111359         7
782          783     Chrissy    Appleton  ...      F  146522         1
798          799         Way     Kochlin  ...      M   51989         6
835          836       Poppy       Lines  ...      F  144511         2
839          840   Archibold       Deely  ...      M   69379         2
842          843     Berkley       Clows  ...      M   44641         5
843          844      Laurie   Infantino  ...      M   29752         4
926          927   Maryellen   Westnedge  ...      F  115973         5
950          951     Merlina   McCullagh  ...      F  137094         1
987          988        Tabb  Huddleston  ...      M   47591         6

[32 rows x 9 columns]

In [ ]:
#Antes hubiéramos tenido que escribir:
df[df['department']=='Automotive']

     employee_id  first_name   last_name  ... gender  salary region_id
22            23       Vanda     Marwick  ...      F  103570         4
89            90       Irita      Starie  ...      F  160783         1
96            97     Jilleen       Toone  ...      F  137393         3
125          126      Roslyn        Guiu  ...      F  157260         1
246          247      Tammie   Grishukov  ...      F  160039         5
248          249    Sterling       Pagen  ...      M   56095         7
273          274     Lorelle   Kelberman  ...      F  119959         7
304          305     Ladonna      McCrow  ...      F  111775         2
366          367    Lauretta      Rounds  ...      F   75978         6
384          385         Doe  Larkworthy  ...      F  106046         1
393          394      Stormy    Najafian  ...      F  126983         6
433          434  Clementina  Frankcombe  ...      F   95492         1
437          438      Betsey    Reedshaw  ...      F  152141         2
455          456    Jessalyn      Horley  ...      F   86929         7
459          460   Cherianne       Oxnam  ...      F  150821         6
494          495        Mill       Makey  ...      M  162522         7
514          515       Cybil       Perez  ...      F  123828         1
569          570          Cy       Mence  ...      M  144146         7
577          578      Katlin     Bemrose  ...      F   60089         6
647          648      Abbott      Mundow  ...      M  106517         7
682          683      Noelyn   De Marchi  ...      F  125305         4
709          710      Charis   Bradborne  ...      F  130995         3
753          754        Ivie      Aubrey  ...      F  111359         7
782          783     Chrissy    Appleton  ...      F  146522         1
798          799         Way     Kochlin  ...      M   51989         6
835          836       Poppy       Lines  ...      F  144511         2
839          840   Archibold       Deely  ...      M   69379         2
842          843     Berkley       Clows  ...      M   44641         5
843          844      Laurie   Infantino  ...      M   29752         4
926          927   Maryellen   Westnedge  ...      F  115973         5
950          951     Merlina   McCullagh  ...      F  137094         1
987          988        Tabb  Huddleston  ...      M   47591         6

[32 rows x 9 columns]

In [ ]:
df.iloc[[22, 89, 96]]

    employee_id first_name last_name  ... gender  salary region_id
22           23      Vanda   Marwick  ...      F  103570         4
89           90      Irita    Starie  ...      F  160783         1
96           97    Jilleen     Toone  ...      F  137393         3

[3 rows x 9 columns]

In [ ]:
########## Ejemplo error ##########

# Un objeto groupby no tiene atributo loc.
# equipos.loc[10]

In [ ]:
equipos.mean()

                   employee_id         salary  region_id
department
Automotive          534.656250  111046.156250   4.156250
Beauty              479.000000   96487.444444   3.733333
Books               563.081081   96497.405405   3.945946
Camping             502.888889   97302.027778   3.972222
Children Clothing   499.446809   87511.042553   4.085106
Clothing            434.816327   83933.448980   4.081633
Computers           525.489362   96064.574468   3.914894
Cosmetics           482.794118  108381.705882   4.235294
Decor               562.871795   92766.205128   3.871795
Device Repair       443.882353   87480.725490   4.078431
First Aid           549.086207   89154.534483   3.620690
Furniture           528.023256   87373.395349   4.767442
Games               435.666667   85684.555556   4.111111
Garden              493.024390   85431.487805   3.658537
Grocery             540.107143   94295.892857   4.285714
Jewelry             454.073171   80576.097561   4.048780
Maintenance         791.500000   76792.750000   3.750000
Movies              474.357143   89246.392857   4.250000
Music               526.965517   92360.965517   3.655172
Pharmacy            485.078947   93372.131579   4.184211
Phones & Tablets    460.057143   89688.028571   3.542857
Plumbing            593.000000   98224.142857   3.714286
Security            626.666667   89950.166667   6.333333
Sports              457.676471   87832.470588   3.676471
Tools               428.051282   83529.615385   3.717949
Toys                483.510638  103110.021277   3.936170
Vitamins            611.378378   90358.000000   4.000000

In [ ]:
equipos.sum()

                   employee_id   salary  region_id
department
Automotive               17109  3553477        133
Beauty                   21555  4341935        168
Books                    20834  3570404        146
Camping                  18104  3502873        143
Children Clothing        23474  4113019        192
Clothing                 21306  4112739        200
Computers                24698  4515035        184
Cosmetics                16415  3684978        144
Decor                    21952  3617882        151
Device Repair            22638  4461517        208
First Aid                31847  5170963        210
Furniture                22705  3757056        205
Games                    15684  3084644        148
Garden                   20214  3502691        150
Grocery                  15123  2640285        120
Jewelry                  18617  3303620        166
Maintenance               6332   614342         30
Movies                   26564  4997798        238
Music                    15282  2678468        106
Pharmacy                 18433  3548141        159
Phones & Tablets         16102  3139081        124
Plumbing                  4151   687569         26
Security                  3760   539701         38
Sports                   15561  2986304        125
Tools                    16694  3257655        145
Toys                     22725  4846171        185
Vitamins                 22621  3343246        148

In [ ]:
equipos.get_group('Sports')['salary'].sum()

2986304

In [ ]:
## Si quiero agrupar por más de una variable --> le paso una lista

In [ ]:
team_mgmt = df.groupby(['department','gender'])

In [ ]:
team_mgmt.size() #esto es como una tabla dinámica

department         gender
Automotive         F         23
                   M          9
Beauty             F         18
                   M         27
Books              F         20
                   M         17
Camping            F         18
                   M         18
Children Clothing  F         21
                   M         26
Clothing           F         24
                   M         25
Computers          F         24
                   M         23
Cosmetics          F         18
                   M         16
Decor              F         20
                   M         19
Device Repair      F         26
                   M         25
First Aid          F         28
                   M         30
Furniture          F         23
                   M         20
Games              F         18
                   M         18
Garden             F         15
                   M         26
Grocery            F         16
                   M         12
Jewelry            F         15
                   M         26
Maintenance        F          5
                   M          3
Movies             F         28
                   M         28
Music              F         20
                   M          9
Pharmacy           F         16
                   M         22
Phones & Tablets   F         18
                   M         17
Plumbing           F          5
                   M          2
Security           F          2
                   M          4
Sports             F         22
                   M         12
Tools              F         19
                   M         20
Toys               F         22
                   M         25
Vitamins           F         17
                   M         20
dtype: int64

In [ ]:
type(team_mgmt.size())

pandas.core.series.Series

In [ ]:
team_mgmt.size() #esto es como una tabla dinámica

department         gender
Automotive         F         23
                   M          9
Beauty             F         18
                   M         27
Books              F         20
                   M         17
Camping            F         18
                   M         18
Children Clothing  F         21
                   M         26
Clothing           F         24
                   M         25
Computers          F         24
                   M         23
Cosmetics          F         18
                   M         16
Decor              F         20
                   M         19
Device Repair      F         26
                   M         25
First Aid          F         28
                   M         30
Furniture          F         23
                   M         20
Games              F         18
                   M         18
Garden             F         15
                   M         26
Grocery            F         16
                   M         12
Jewelry            F         15
                   M         26
Maintenance        F          5
                   M          3
Movies             F         28
                   M         28
Music              F         20
                   M          9
Pharmacy           F         16
                   M         22
Phones & Tablets   F         18
                   M         17
Plumbing           F          5
                   M          2
Security           F          2
                   M          4
Sports             F         22
                   M         12
Tools              F         19
                   M         20
Toys               F         22
                   M         25
Vitamins           F         17
                   M         20
dtype: int64

In [ ]:
type(team_mgmt.size())

pandas.core.series.Series

In [ ]:
df3 = pd.DataFrame(team_mgmt.size())
df3

                           0
department        gender
Automotive        F       23
                  M        9
Beauty            F       18
                  M       27
Books             F       20
                  M       17
Camping           F       18
                  M       18
Children Clothing F       21
                  M       26
Clothing          F       24
                  M       25
Computers         F       24
                  M       23
Cosmetics         F       18
                  M       16
Decor             F       20
                  M       19
Device Repair     F       26
                  M       25
First Aid         F       28
                  M       30
Furniture         F       23
                  M       20
Games             F       18
                  M       18
Garden            F       15
                  M       26
Grocery           F       16
                  M       12
Jewelry           F       15
                  M       26
Maintenance       F        5
                  M        3
Movies            F       28
                  M       28
Music             F       20
                  M        9
Pharmacy          F       16
                  M       22
Phones & Tablets  F       18
                  M       17
Plumbing          F        5
                  M        2
Security          F        2
                  M        4
Sports            F       22
                  M       12
Tools             F       19
                  M       20
Toys              F       22
                  M       25
Vitamins          F       17
                  M       20

## agg

In [ ]:
df.head(3)

   employee_id first_name last_name  ... gender  salary region_id
0            1     Berrie   Manueau  ...      F  154864         4
1            2    Aeriell     McNee  ...      F   56752         3
2            3     Sydney   Symonds  ...      F   95313         4

[3 rows x 9 columns]

In [ ]:
equipos.agg({'salary':'sum'})

                    salary
department
Automotive         3553477
Beauty             4341935
Books              3570404
Camping            3502873
Children Clothing  4113019
Clothing           4112739
Computers          4515035
Cosmetics          3684978
Decor              3617882
Device Repair      4461517
First Aid          5170963
Furniture          3757056
Games              3084644
Garden             3502691
Grocery            2640285
Jewelry            3303620
Maintenance         614342
Movies             4997798
Music              2678468
Pharmacy           3548141
Phones & Tablets   3139081
Plumbing            687569
Security            539701
Sports             2986304
Tools              3257655
Toys               4846171
Vitamins           3343246

In [ ]:
# quiero suma y promedio para 'Salary' y promedio para el bono
equipos.agg({'salary':['sum','mean']})

                    salary
                       sum           mean
department
Automotive         3553477  111046.156250
Beauty             4341935   96487.444444
Books              3570404   96497.405405
Camping            3502873   97302.027778
Children Clothing  4113019   87511.042553
Clothing           4112739   83933.448980
Computers          4515035   96064.574468
Cosmetics          3684978  108381.705882
Decor              3617882   92766.205128
Device Repair      4461517   87480.725490
First Aid          5170963   89154.534483
Furniture          3757056   87373.395349
Games              3084644   85684.555556
Garden             3502691   85431.487805
Grocery            2640285   94295.892857
Jewelry            3303620   80576.097561
Maintenance         614342   76792.750000
Movies             4997798   89246.392857
Music              2678468   92360.965517
Pharmacy           3548141   93372.131579
Phones & Tablets   3139081   89688.028571
Plumbing            687569   98224.142857
Security            539701   89950.166667
Sports             2986304   87832.470588
Tools              3257655   83529.615385
Toys               4846171  103110.021277
Vitamins           3343246   90358.000000

In [ ]:
equipos.agg(['size','sum','mean'])

                  employee_id                     ... region_id
                         size    sum        mean  ...      size  sum      mean
department                                        ...
Automotive                 32  17109  534.656250  ...        32  133  4.156250
Beauty                     45  21555  479.000000  ...        45  168  3.733333
Books                      37  20834  563.081081  ...        37  146  3.945946
Camping                    36  18104  502.888889  ...        36  143  3.972222
Children Clothing          47  23474  499.446809  ...        47  192  4.085106
Clothing                   49  21306  434.816327  ...        49  200  4.081633
Computers                  47  24698  525.489362  ...        47  184  3.914894
Cosmetics                  34  16415  482.794118  ...        34  144  4.235294
Decor                      39  21952  562.871795  ...        39  151  3.871795
Device Repair              51  22638  443.882353  ...        51  208  4.078431
First Aid                  58  31847  549.086207  ...        58  210  3.620690
Furniture                  43  22705  528.023256  ...        43  205  4.767442
Games                      36  15684  435.666667  ...        36  148  4.111111
Garden                     41  20214  493.024390  ...        41  150  3.658537
Grocery                    28  15123  540.107143  ...        28  120  4.285714
Jewelry                    41  18617  454.073171  ...        41  166  4.048780
Maintenance                 8   6332  791.500000  ...         8   30  3.750000
Movies                     56  26564  474.357143  ...        56  238  4.250000
Music                      29  15282  526.965517  ...        29  106  3.655172
Pharmacy                   38  18433  485.078947  ...        38  159  4.184211
Phones & Tablets           35  16102  460.057143  ...        35  124  3.542857
Plumbing                    7   4151  593.000000  ...         7   26  3.714286
Security                    6   3760  626.666667  ...         6   38  6.333333
Sports                     34  15561  457.676471  ...        34  125  3.676471
Tools                      39  16694  428.051282  ...        39  145  3.717949
Toys                       47  22725  483.510638  ...        47  185  3.936170
Vitamins                   37  22621  611.378378  ...        37  148  4.000000

[27 rows x 9 columns]

In [ ]:
df_aux2 = pd.DataFrame(columns = df.columns)
df_aux2

Empty DataFrame
Columns: [employee_id, first_name, last_name, email, hire_date, department, gender, salary, region_id]
Index: []

## Iteración sobre Grouby

In [ ]:
#Sup queremos un dataframe con el salaruo más alto de CADA equipo.
# en la línea de abajo, data es el df inducido por el valor equipo
for equipo, data in equipos:
    highest_group_salary=data.nlargest(1, 'salary')
    df_aux = df_aux2.append(highest_group_salary) #no hay inplace parameter

df_aux

    employee_id first_name last_name  ... gender  salary region_id
549         550     Elvera   Tinline  ...      F  163933         2

[1 rows x 9 columns]

#Métodos

## sort_values()

In [ ]:
iris.sort_values(ascending=False)

149    virginica
111    virginica
122    virginica
121    virginica
120    virginica
         ...
31        setosa
30        setosa
29        setosa
28        setosa
0         setosa
Name: Species, Length: 150, dtype: object

In [ ]:
iris.sort_values(ascending=True)

0         setosa
27        setosa
28        setosa
29        setosa
30        setosa
         ...
119    virginica
120    virginica
121    virginica
111    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [ ]:
iris

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

Cuando llamamos el método sort_values() NO MODIFICAMOS nuestra serie original. Esto nos da pie a ver de qué forma sí podemos ejercer cambios permanentes sobre una serie.

### Inplace

In [ ]:
iris.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: Species, dtype: object

In [ ]:
google = pd.read_csv('Python/M3/S3/google_stock_price.csv', usecols= ["Close"], squeeze = True)

In [ ]:
google.head()

0    2054.260010
1    2060.120117
2    2083.810059
3    2015.949951
4    2021.910034
Name: Close, dtype: float64

Si queremos sobrescribirlo, usamos el parámetro inplace = True

In [ ]:
google.sort_values(ascending = False, inplace = True)

In [ ]:
type(google)

pandas.core.series.Series

## sort_index()

In [ ]:
google.sort_index()

0      2054.260010
1      2060.120117
2      2083.810059
3      2015.949951
4      2021.910034
          ...
248    2710.520020
249    2732.169922
250    2754.760010
251    2650.780029
252    2608.060059
Name: Close, Length: 253, dtype: float64

In [ ]:
google.sort_index(inplace = True)

In [ ]:
google

0      2054.260010
1      2060.120117
2      2083.810059
3      2015.949951
4      2021.910034
          ...
248    2710.520020
249    2732.169922
250    2754.760010
251    2650.780029
252    2608.060059
Name: Close, Length: 253, dtype: float64

## get()

In [ ]:
iris_id.head()

Id
A1    setosa
A2    setosa
A3    setosa
A4    setosa
A5    setosa
Name: Species, dtype: object

In [ ]:
iris_id.get("A20") #EQUIVALENTE a iris_id["A20"]

'setosa'

In [ ]:
iris_id.get(["A1", "A5", "A21"])

Id
A1     setosa
A5     setosa
A21    setosa
Name: Species, dtype: object

Si alguna llave / índice no lo encuentra, get() NO REGRESA NADA. Para ello podemos cambiar la condición default dentro del método

In [ ]:
iris_id.get("A300", default = "este id no existe")

'este id no existe'

In [ ]:
google.head()

0    2054.260010
1    2060.120117
2    2083.810059
3    2015.949951
4    2021.910034
Name: Close, dtype: float64

count() no cuenta los valores faltantes o 'missing'

In [ ]:
google.count()

253

In [ ]:
google.mean()

2593.5398045691722

In [ ]:
google.sum()/google.count()

2593.53980456917

In [ ]:
google.mode()

0      2007.500000
1      2011.410034
2      2015.949951
3      2021.339966
4      2021.910034
          ...
248    2977.040039
249    2978.370117
250    2978.530029
251    2980.620117
252    2996.770020
Length: 253, dtype: float64

In [ ]:
google.min()

2007.5

In [ ]:
google.max()

2996.77002

## Describe()

In [ ]:
google.describe()

count     253.000000
mean     2593.539805
std       293.633927
min      2007.500000
25%      2356.850098
50%      2706.070068
75%      2840.030029
max      2996.770020
Name: Close, dtype: float64

Regresa el índice del valor máximo

In [ ]:
google.idxmax()

189

In [ ]:
google.idxmin()

10

In [ ]:
google.sort_values()

10     2007.500000
7      2011.410034
3      2015.949951
18     2021.339966
4      2021.910034
          ...
180    2977.040039
182    2978.370117
190    2978.530029
181    2980.620117
189    2996.770020
Name: Close, Length: 253, dtype: float64

In [ ]:
3 > 5

False

In [ ]:
google[189]== google.max()

True

Cuenta el no de veces que un valor aparece en la tabla. Nos da frecuencias absolutas

In [ ]:
iris.value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [ ]:
iris.value_counts(normalize = True) #nos da frecuencias relativas

setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: Species, dtype: float64

Broadcasting operations

In [ ]:
iris.value_counts(normalize=True)*100

setosa        33.333333
versicolor    33.333333
virginica     33.333333
Name: Species, dtype: float64

## Apply()

In [ ]:
housep = pd.read_csv("Python/M3/S3/boston_house_prices.csv", usecols= ["Id", "MEDV"], index_col="Id", squeeze=True)

In [ ]:
type(housep)

pandas.core.series.Series

In [ ]:
housep.describe()

count    506.000000
mean      22.532806
std        9.197104
min        5.000000
25%       17.025000
50%       21.200000
75%       25.000000
max       50.000000
Name: MEDV, dtype: float64

Definamos una función que, según el precio (MEDV) de la vivienda nos diga si es:

    'barato' si precio < 17.025
    'medio' si precio entre 17.025 y 25
    'alto' si precio > 25

In [ ]:
def clasifica_precio(precio):
    if precio < 17.025:
        return 'bajo'
    elif precio >= 17.025 and precio < 25:
        return 'medio'
    else:
        return 'alto'

housep es una pandas Series

In [ ]:
housep.head()

Id
1    24.0
2    21.6
3    34.7
4    33.4
5    36.2
Name: MEDV, dtype: float64

El método apply() NO modifica la serie original, nos da una nueva

In [ ]:
housep.apply(clasifica_precio)

Id
1      medio
2      medio
3       alto
4       alto
5       alto
       ...
502    medio
503    medio
504    medio
505    medio
506     bajo
Name: MEDV, Length: 506, dtype: object

Si quiero multiplicar por 2 CADA ELEMENTO DE la serie, a esto se le conoce como funciones anónimas.

In [ ]:
housep.apply(lambda z:z*2)

Id
1      48.0
2      43.2
3      69.4
4      66.8
5      72.4
       ...
502    44.8
503    41.2
504    47.8
505    44.0
506    23.8
Name: MEDV, Length: 506, dtype: float64

# Creación de variables

Podemos crear variables ficticias en Python usando el método get_dummies().

Sintaxis: pandas.get_dummies(data, prefix = None, prefix_sep = '_',)

Parámetros:

*   datos = datos de entrada, es decir, incluye el marco de datos de pandas. Lista. establecer. matrices numpy, etc.*   Elemento de la lista
*   prefijo = valor inicial
*   prefix_sep = Separación de valores de datos.

In [ ]:
iris = pd.read_csv('Python/M3/S3/iris.csv', squeeze = True)

El resultado de la tabla es la diversificación de los valores que tiene la variable categorica "species", en este caso si es setosa, si es versicolor o virginica, siendo 1 si cumple esa condición.

In [ ]:
pd.get_dummies(iris["Species"])

     setosa  versicolor  virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [ ]:
employees = pd.read_csv('Python/M3/S3/employees.csv', squeeze = True)

In [ ]:
employees.head()

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [ ]:
pd.get_dummies(employees["department"])

     Automotive  Beauty  Books  Camping  ...  Sports  Tools  Toys  Vitamins
0             0       0      0        0  ...       1      0     0         0
1             0       0      0        0  ...       0      1     0         0
2             0       0      0        0  ...       0      0     0         0
3             0       0      0        0  ...       0      0     0         0
4             0       0      0        0  ...       0      0     0         0
..          ...     ...    ...      ...  ...     ...    ...   ...       ...
995           0       0      0        0  ...       0      0     0         0
996           0       1      0        0  ...       0      0     0         0
997           0       0      0        0  ...       0      0     0         0
998           0       0      0        0  ...       0      0     0         0
999           0       0      0        0  ...       0      0     0         0

[1000 rows x 27 columns]

# Web Scrapping

## HTML

***HTML*** (Hyper Text Markup Language) es el lenguaje en el que se programan las páginas Web que utilizamos todos los días.

    <html>
    <head>
    <title>Título de la página</title>
    </head>
    <body>

    <h1>El primer encabezado</h1>
    <p>El primer párrafo.</p>

    </body>
    </html>

### Estructura
![estructura_html.jpg]()

#### Ejemplos básicos de HTML

#### Cabeceras (Headings) (h1, h2, ... , h6)

<h1>Cabecera de nivel 1</h1>
<h2>Cabecera de nivel 2</h2>
<h3>Cabecera de nivel 3</h3>

    <h1>Cabecera de nivel 1</h1>
    <h2>Cabecera de nivel 2</h2>
    <h3>Cabecera de nivel 3</h3>

#### Párrafos (p)

texto en cursiva<p>Este es el primer párrafo.</p>
<p>Este es otro párrafo.</p>

#### Vínculos (a)

<a href="https://www.google.com">Este es un vínculo a Google.com</a>

#### Imágenes (img)

*scr* corresponde a la imagen

*alt* corresponde a texto (alternativo, se muestra el texto si no se encuentra la imagen)

*width* y *height* son atributos de la imagen

    <img src="Python.png" alt="Logo de Python" width="104" height="142">

#### Código fuente

En *Chrome* hay dos opciones para ver el código de cualquier página web. 
    
    1. Click derecho sobre la página que se desea explorar y seleccionar "View Page Source" / "Ver código fuente". 
    
    2. Click derecho en un elemento y seleccionar "Inspect" / "Inspeccionar Elemento"

#### Elementos HTML

Un elemento se define por una etiqueta de inicio, contenido y una etiqueta de cierre. 
**< tag > Contenido < /tag>**

Los elementos pueden venir anidados.

<html>
<body>

<h1>Cabecera del HTML</h1>
<p>En este párrafo se pone una descripción.</p>

</body>
</html>

    <html>
    <body>

    <h1>Cabecera del HTML</h1>
    <p>En este párrafo se pone una descripción.</p>

    </body>
    </html>

El elemento < body > define el cuerpo del documento. Dentro de este *tag* se encuentran los elementos < h1 > y < p >

### Atributos

Todos los elementos de un HTML pueden contar con atributos. Estos atributos brindan información adicional sobre los elementos.

Los atributos por lo general vienen escritos con una combinación de *nombre* y *valor* (i.e. href = 'vinculo web')

#### href

El tag **< a >** se utiliza para definir un hipervínculo. El atributo **href** permite definir la dirección de forma específica.

<a href = 'https://www.google.com'> Este es un vínculo </a>

    <a href = 'https://www.google.com'> Este es un vínculo </a>

#### title

El atributo **title** brinda información adicional a un elemento. El valor del título se verá reflejado en la página web cuando se ponga el cursor sobre él.

    <p title="Soy un título">Asignamos un título a un párrafo.</p>

#### style

El atributo **style** se utiliza para agregar estilo a un elemento, como el color, fuente, tamaño, etc. 

Su forma general es la siguiente:
    < tag style = 'propiedad:valor;' >

Aquí la propiedad es una propiedad de formato CSS (Cascade Style Sheets) y el valor es un valor de CSS también.

Con CSS se puede controlar el color, tipología, tamaño de texto y como se ubican en la página.

<body>

<h1 style="background-color:powderblue;">La cabecera se identifica con color azul</h1>
<p style="background-color:tomato;">El párrafo se identifica con color rojo.</p>

</body>

<h1><font color='blue'>Las letras de la cabecera son color azul</font></h1>
<font color="red">Las letras del parrafo son color rojo.</style>

    <h1 style="color:blue;">Las letras de la cabecera son color azul</h1>
    <p style="color:red;">Las letras del párrafo son color rojo.</p>

Para cambiar la letra es:

    <h1 style="font-family:verdana;">La cabecera tiene letra verdana</h1>
    <p style="font-family:courier;">El párrafo tiene letra courier</p>

#### div 'Division tag'

Se utiliza para contener otros elementos de HTML. Define un bloque en un documento.  

No cuenta con atributos requeridos pero los más utilizados son *style*, *class* e *id*

Cuando se utiliza con programación CSS, el elemento **< div >** se utiliza para generar bloques de contenido. 

Todo lo incluido dentro del árbol se ve con el estilo definido en el div. 
<em> es énfasis (itálicas)

<div style="background-color:black;color:white;padding:20px;">
  <h2>La cabecera de nivel 2</h2>
    <p>El bloque completo está definido por el elemento <em>div</em>.</p>
</div>

    <div style="background-color:black;color:white;padding:20px;">
      <h2>La cabecera de nivel 2</h2>
        <p>El bloque completo está definido por el elemento <em>div</em>.<p>
    </div>

#### span

Se utliza dentro de un tag para marcar una parte de un texto o documento HTML. 'inline'

<p>Mi mamá tiene ojos <span style="color:blue;font-weight:bold">azules</span> y mi papá tiene ojos  <span style="color:darkolivegreen;font-weight:bold">verde oscuro</span>.</p>
<p> Aquí se pone otra línea que no cuenta con el formato ya que se utilizó un span en lugar de un div. </p>

#### class

Se utiliza para especificar una clase para un elemento HTML.
Multiples elementos pueden compartir una **clase**

Ejemplo del uso de **class** con **div**

<html>
<head>
<style>
.ciudad {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
} 
</style>
</head>
<body>

<div class="ciudad">
  <h2>Londres</h2>
  <p>Londres es la capital de Inglaterra.</p>
</div>

<div class="ciudad">
  <h2>Paris</h2>
  <p>Paris es la capital de Francia.</p>
</div>

<div class="ciudad">
  <h2>Tokyo</h2>
  <p>Tokyo es la capital de Japón.</p>
</div>

</body>
</html>

    <html>
    <head>
    <style>
    .ciudad {
      background-color: tomato;
      color: white;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    } 
    </style>
    </head>
    <body>

    <div class="ciudad">
      <h2>Londres</h2>
      <p>Londres es la capital de Inglaterra.</p>
    </div>

    <div class="ciudad">
      <h2>Paris</h2>
      <p>Paris es la capital de Francia.</p>
    </div>

    <div class="ciudad">
      <h2>Tokyo</h2>
      <p>Tokyo es la capital de Japón.</p>
    </div>

    </body>
    </html>

Ejemplo de **class** con **span**

<html>
<head>
<style>
.nota {
  font-size: 120%;
  color: red;
}
</style>
</head>
<body>

<h1>Esta <span class="nota">cabecera</span> es de nivel 1</h1>
<p>Este texto es <span class="nota">importante</span> .</p>

</body>
</html>

#### id

Este atributo especifica un identificador único para un documento HTML. El valor del atributo debe ser *único* para el documento. 

Se utiliza para brindar un estilo específico a un documento HTML.

#### class y id

Un atributo *class* puede ser utilizado por distintos elementos de un HTML, mientras que el atributo *id* se utiliza por **un solo elemento** dentro de una página. *(ejemplo con html)*

<style>

#cabecera {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}


.ciudad {
  background-color: tomato;
  color: white;
  padding: 10px;
} 
</style>

<!-- Elemento con id -->
<h1 id="cabecera">Ciudades</h1>

<!-- Multiples elementos class -->
<h2 class="ciudad">Londres</h2>
<p>Londres es la capital de Inglaterra.</p>

<h2 class="ciudad">Paris</h2>
<p>Paris es la capital de Francia.</p>

<h2 class="ciudad">Tokyo</h2>
<p>Tokyo es la capital de Japón.</p>

    <style>

    #cabecera {
      background-color: lightblue;
      color: black;
      padding: 40px;
      text-align: center;
    }


    .ciudad {
      background-color: tomato;
      color: white;
      padding: 10px;
    } 
    </style>

    <!-- Elemento con id -->
    <h1 id="cabecera">Ciudades</h1>

    <!-- Multiples elementos class -->
    <h2 class="ciudad">Londres</h2>
    <p>Londres es la capital de Inglaterra.</p>

    <h2 class="ciudad">Paris</h2>
    <p>Paris es la capital de Francia.</p>

    <h2 class="ciudad">Tokyo</h2>
    <p>Tokyo es la capital de Japón.</p>

## Get

El método GET es un arreglo asociativo de variables enviados por medio de la URL. Consiste en enviar la información de un formulario y que se «incruste» en la URL junto con la página php.

La estructura de la URL es la siguiente.

    altaRegistro.php?txtNombre=Nombre&txtAlias=Alias&txtPwd=123&retxtPwd=123

Donde se divide la URL en la dirección y los datos que se envían. El ‘?’ tiene la función de ser un separador entre la página y la información enviada y el ‘&’ sirve para separar los datos entre sí.

Para extraer la información por GET se utiliza la etiqueta (signo de dolar)_GET y el nombre de la variable en el arreglo, tomando como ejemplo (signo de dolar)_GET[‘txtNombre’].

## Post

El método POST es un arreglo dinámico de variables asociadas a una petición. Aunque es algo parecido al método GET la característica de este método es que el envió de información es «invisible» para el usuario ya que a comparación del método GET no se muestra la información en la URL.

Para extraer la información por POST se utiliza la etiqueta (signo de dolar)_POST y el nombre de la variable en el arreglo, tomando como ejemplo (signo de dolar)_POST[‘txtNombre’].

## Requests

El método REQUEST es un arreglo asociativo que por defecto contiene el contenido de tres métodos: GET, POST y COOKIE.

Una gran característica que tiene REQUEST es que se considera como una variable «superglobal» lo que significa que es una variable que estará disponible en cualquier parte del script ya sean métodos o funciones dentro del mismo.

Al utilizar REQUEST para obtener la información enviada desde un formulario en la parte de la etiqueta «method» se puede usar tanto GET como POST.

## Ejemplo

In [ ]:
from urllib.request import urlopen

Con esta instrucción tenemos el texto completo de la página abierta.

In [ ]:
html = urlopen('http://books.toscrape.com')
print(html.read())

b'<!DOCTYPE html>\n<!--[if lt IE 7]>      <html lang="en-us" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->\n<!--[if IE 7]>         <html lang="en-us" class="no-js lt-ie9 lt-ie8"> <![endif]-->\n<!--[if IE 8]>         <html lang="en-us" class="no-js lt-ie9"> <![endif]-->\n<!--[if gt IE 8]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->\n    <head>\n        <title>\n    All products | Books to Scrape - Sandbox\n</title>\n\n        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />\n        <meta name="created" content="24th Jun 2016 09:29" />\n        <meta name="description" content="" />\n        <meta name="viewport" content="width=device-width" />\n        <meta name="robots" content="NOARCHIVE,NOCACHE" />\n\n        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->\n        <!--[if lt IE 9]>\n        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>\n        <![endif]-->\n\n        \n            <link rel="shortcut icon" href="static/oscar/favicon.ico" />\n        \n\n        \n        \n    \n    \n        <link rel="stylesheet" type="text/css" href="static/oscar/css/styles.css" />\n    \n    <link rel="stylesheet" href="static/oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />\n    <link rel="stylesheet" type="text/css" href="static/oscar/css/datetimepicker.css" />\n\n\n        \n        \n\n        \n\n        \n            \n            \n\n        \n    </head>\n\n    <body id="default" class="default">\n        \n        \n    \n    \n    <header class="header container-fluid">\n        <div class="page_inner">\n            <div class="row">\n                <div class="col-sm-8 h1"><a href="index.html">Books to Scrape</a><small> We love being scraped!</small>\n</div>\n\n                \n            </div>\n        </div>\n    </header>\n\n    \n    \n<div class="container-fluid page">\n    <div class="page_inner">\n        \n    <ul class="breadcrumb">\n        <li>\n            <a href="index.html">Home</a>\n        </li>\n        <li class="active">All products</li>\n    </ul>\n\n        <div class="row">\n\n            <aside class="sidebar col-sm-4 col-md-3">\n                \n                <div id="promotions_left">\n                    \n                </div>\n                \n    \n    \n        \n        <div class="side_categories">\n            <ul class="nav nav-list">\n                \n                    <li>\n                        <a href="catalogue/category/books_1/index.html">\n                            \n                                Books\n                            \n                        </a>\n\n                        <ul>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/travel_2/index.html">\n                            \n                                Travel\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/mystery_3/index.html">\n                            \n                                Mystery\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/historical-fiction_4/index.html">\n                            \n                                Historical Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/sequential-art_5/index.html">\n                            \n                                Sequential Art\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/classics_6/index.html">\n                            \n                                Classics\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/philosophy_7/index.html">\n                            \n                                Philosophy\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/romance_8/index.html">\n                            \n                                Romance\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/womens-fiction_9/index.html">\n                            \n                                Womens Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/fiction_10/index.html">\n                            \n                                Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/childrens_11/index.html">\n                            \n                                Childrens\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/religion_12/index.html">\n                            \n                                Religion\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/nonfiction_13/index.html">\n                            \n                                Nonfiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/music_14/index.html">\n                            \n                                Music\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/default_15/index.html">\n                            \n                                Default\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/science-fiction_16/index.html">\n                            \n                                Science Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/sports-and-games_17/index.html">\n                            \n                                Sports and Games\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/add-a-comment_18/index.html">\n                            \n                                Add a comment\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/fantasy_19/index.html">\n                            \n                                Fantasy\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/new-adult_20/index.html">\n                            \n                                New Adult\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/young-adult_21/index.html">\n                            \n                                Young Adult\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/science_22/index.html">\n                            \n                                Science\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/poetry_23/index.html">\n                            \n                                Poetry\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/paranormal_24/index.html">\n                            \n                                Paranormal\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/art_25/index.html">\n                            \n                                Art\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/psychology_26/index.html">\n                            \n                                Psychology\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/autobiography_27/index.html">\n                            \n                                Autobiography\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/parenting_28/index.html">\n                            \n                                Parenting\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/adult-fiction_29/index.html">\n                            \n                                Adult Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/humor_30/index.html">\n                            \n                                Humor\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/horror_31/index.html">\n                            \n                                Horror\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/history_32/index.html">\n                            \n                                History\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/food-and-drink_33/index.html">\n                            \n                                Food and Drink\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/christian-fiction_34/index.html">\n                            \n                                Christian Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/business_35/index.html">\n                            \n                                Business\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/biography_36/index.html">\n                            \n                                Biography\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/thriller_37/index.html">\n                            \n                                Thriller\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/contemporary_38/index.html">\n                            \n                                Contemporary\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/spirituality_39/index.html">\n                            \n                                Spirituality\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/academic_40/index.html">\n                            \n                                Academic\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/self-help_41/index.html">\n                            \n                                Self Help\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/historical_42/index.html">\n                            \n                                Historical\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/christian_43/index.html">\n                            \n                                Christian\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/suspense_44/index.html">\n                            \n                                Suspense\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/short-stories_45/index.html">\n                            \n                                Short Stories\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/novels_46/index.html">\n                            \n                                Novels\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/health_47/index.html">\n                            \n                                Health\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/politics_48/index.html">\n                            \n                                Politics\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/cultural_49/index.html">\n                            \n                                Cultural\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/erotica_50/index.html">\n                            \n                                Erotica\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/crime_51/index.html">\n                            \n                                Crime\n                            \n                        </a>\n\n                        </li>\n                        \n                            </ul></li>\n                        \n                \n            </ul>\n        </div>\n    \n    \n\n            </aside>\n\n            <div class="col-sm-8 col-md-9">\n                \n                <div class="page-header action">\n                    <h1>All products</h1>\n                </div>\n                \n\n                \n\n\n\n<div id="messages">\n\n</div>\n\n\n                <div id="promotions">\n                    \n                </div>\n\n                \n    <form method="get" class="form-horizontal">\n        \n        <div style="display:none">\n            \n            \n        </div>\n\n        \n            \n                \n                    <strong>1000</strong> results - showing <strong>1</strong> to <strong>20</strong>.\n                \n            \n            \n        \n    </form>\n    \n        <section>\n            <div class="alert alert-warning" role="alert"><strong>Warning!</strong> This is a demo website for web scraping purposes. Prices and ratings here were randomly assigned and have no real meaning.</div>\n\n            <div>\n                <ol class="row">\n                    \n             

Utilizaremos la librería Beautiful Soup

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
html = urlopen("http://books.toscrape.com")
soup = BeautifulSoup(html.read(), 'html.parser')

In [ ]:
type(html), type(soup)

(http.client.HTTPResponse, bs4.BeautifulSoup)

Imprimimos todo el html

In [ ]:
print(soup.get_text())

    All products | Books to Scrape - Sandbox

















Books to Scrape We love being scraped!








Home

All products










                                Books






                                Travel






                                Mystery






                                Historical Fiction






                                Sequential Art






                                Classics






                                Philosophy






                                Romance






                                Womens Fiction






                                Fiction






                                Childrens






                                Religion






                                Nonfiction






                                Music






                                Default






                                Science Fiction






                                Sports and Games






                                Add a comment






                                Fantasy






                                New Adult






                                Young Adult






                                Science






                                Poetry






                                Paranormal






                                Art






                                Psychology






                                Autobiography






                                Parenting






                                Adult Fiction






                                Humor






                                Horror






                                History






                                Food and Drink






                                Christian Fiction






                                Business






                                Biography






                                Thriller






                                Contemporary






                                Spirituality






                                Academic






                                Self Help






                                Historical






                                Christian






                                Suspense






                                Short Stories






                                Novels






                                Health






                                Politics






                                Cultural






                                Erotica






                                Crime









All products








1000 results - showing 1 to 20.






Warning! This is a demo website for web scraping purposes. Prices and ratings here were randomly assigned and have no real meaning.














A Light in the ...

£51.77



        In stock



Add to basket
















Tipping the Velvet

£53.74



        In stock



Add to basket
















Soumission

£50.10



        In stock



Add to basket
















Sharp Objects

£47.82



        In stock



Add to basket
















Sapiens: A Brief History ...

£54.23



        In stock



Add to basket
















The Requiem Red

£22.65



        In stock



Add to basket
















The Dirty Little Secrets ...

£33.34



        In stock



Add to basket
















The Coming Woman: A ...

£17.93



        In stock



Add to basket
















The Boys in the ...

£22.60



        In stock



Add to basket
















The Black Maria

£52.15



        In stock



Add to basket
















Starving Hearts (Triangular Trade ...

£13.99



        In stock



Add to basket
















Shakespeare's Sonnets

£20.66



        In stock



Add to basket
















Set Me Free

£17.46



        In stock



Add to basket
















Scott Pilgrim's Precious Little ...

£52.29



        In stock



Add to basket
















Rip it Up and ...

£35.02



        In stock



Add to basket
















Our Band Could Be ...

£57.25



        In stock



Add to basket
















Olio

£23.88



        In stock



Add to basket
















Mesaerion: The Best Science ...

£37.59



        In stock



Add to basket
















Libertarianism for Beginners

£51.33



        In stock



Add to basket
















It's Only the Himalayas

£45.17



        In stock



Add to basket









                Page 1 of 50


next












window.jQuery || document.write('<script src="static/oscar/js/jquery/jquery-1.9.1.min.js"><\/script>')







            $(function() {



    oscar.init();

    oscar.search.init();

            });

Imprimimos el cuerpo del HTML

In [ ]:
soup.body()

[<header class="header container-fluid">
 <div class="page_inner">
 <div class="row">
 <div class="col-sm-8 h1"><a href="index.html">Books to Scrape</a><small> We love being scraped!</small>
 </div>
 </div>
 </div>
 </header>, <div class="page_inner">
 <div class="row">
 <div class="col-sm-8 h1"><a href="index.html">Books to Scrape</a><small> We love being scraped!</small>
 </div>
 </div>
 </div>, <div class="row">
 <div class="col-sm-8 h1"><a href="index.html">Books to Scrape</a><small> We love being scraped!</small>
 </div>
 </div>, <div class="col-sm-8 h1"><a href="index.html">Books to Scrape</a><small> We love being scraped!</small>
 </div>, <a href="index.html">Books to Scrape</a>, <small> We love being scraped!</small>, <div class="container-fluid page">
 <div class="page_inner">
 <ul class="breadcrumb">
 <li>
 <a href="index.html">Home</a>
 </li>
 <li class="active">All products</li>
 </ul>
 <div class="row">
 <aside class="sidebar col-sm-4 col-md-3">
 <div id="promotions_left">
 </div>
 <div class="side_categories">
 <ul class="nav nav-list">
 <li>
 <a href="catalogue/category/books_1/index.html">

                                 Books

                         </a>
 <ul>
 <li>
 <a href="catalogue/category/books/travel_2/index.html">

                                 Travel

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/mystery_3/index.html">

                                 Mystery

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/historical-fiction_4/index.html">

                                 Historical Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/sequential-art_5/index.html">

                                 Sequential Art

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/classics_6/index.html">

                                 Classics

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/philosophy_7/index.html">

                                 Philosophy

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/romance_8/index.html">

                                 Romance

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/womens-fiction_9/index.html">

                                 Womens Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/fiction_10/index.html">

                                 Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/childrens_11/index.html">

                                 Childrens

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/religion_12/index.html">

                                 Religion

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/nonfiction_13/index.html">

                                 Nonfiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/music_14/index.html">

                                 Music

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/default_15/index.html">

                                 Default

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/science-fiction_16/index.html">

                                 Science Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/sports-and-games_17/index.html">

                                 Sports and Games

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/add-a-comment_18/index.html">

                                 Add a comment

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/fantasy_19/index.html">

                                 Fantasy

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/new-adult_20/index.html">

                                 New Adult

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/young-adult_21/index.html">

                                 Young Adult

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/science_22/index.html">

                                 Science

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/poetry_23/index.html">

                                 Poetry

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/paranormal_24/index.html">

                                 Paranormal

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/art_25/index.html">

                                 Art

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/psychology_26/index.html">

                                 Psychology

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/autobiography_27/index.html">

                                 Autobiography

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/parenting_28/index.html">

                                 Parenting

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/adult-fiction_29/index.html">

                                 Adult Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/humor_30/index.html">

                                 Humor

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/horror_31/index.html">

                                 Horror

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/history_32/index.html">

                                 History

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/food-and-drink_33/index.html">

                                 Food and Drink

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/christian-fiction_34/index.html">

                                 Christian Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/business_35/index.html">

                                 Business

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/biography_36/index.html">

                                 Biography

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/thriller_37/index.html">

                                 Thriller

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/contemporary_38/index.html">

                                 Contemporary

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/spirituality_39/index.html">

                                 Spirituality

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/academic_40/index.html">

                                 Academic

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/self-help_41/index.html">

                                 Self Help

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/historical_42/index.html">

                                 Historical

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/christian_43/index.html">

                                 Christian

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/suspense_44/index.html">

                                 Suspense

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/short-stories_45/index.html">

                                 Short Stories

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/novels_46/index.html">

                                 Novels

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/health_47/index.html">

                                 Health

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/politics_48/index.html">

                                 Politics

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/cultural_49/index.html">

                                 Cultural

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/erotica_50/index.html">

                                 Erotica

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/crime_51/index.html">

                                 Crime

                         </a>
 </li>
 </ul></li>
 </ul>
 </div>
 </aside>
 <div class="col-sm-8 col-md-9">
 <div class="page-header action">
 <h1>All products</h1>
 </div>
 <div id="messages">
 </div>
 <div id="promotions">
 </div>
 <form class="form-horizontal" method="get">
 <div style="display:none">
 </div>
 <strong>1000</strong> results - showing <strong>1</strong> to <strong>20</strong>.




     </form>
 <section>
 <div class="alert alert-warning" role="alert"><strong>Warning!</strong> This is a demo website for web scraping purposes. Prices and ratings here were randomly assigned and have no real meaning.</div>
 <div>
 <ol class="row">
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/a-light-in-the-attic_1000/index.html"><img alt="A Light in the Attic" class="thumbnail" src="media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/></a>
 </div>
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
 <div class="product_price">
 <p class="price_color">£51.77</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/tipping-the-velvet_999/index.html"><img alt="Tipping the Velvet" class="thumbnail" src="media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/tipping-the-velvet_999/index.html" title="Tipping the Velvet">Tipping the Velvet</a></h3>
 <div class="product_price">
 <p class="price_color">£53.74</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/soumission_998/index.html"><img alt="Soumission" class="thumbnail" src="media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/soumission_998/index.html" title="Soumission">Soumission</a></h3>
 <div class="product_price">
 <p class="price_color">£50.10</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/sharp-objects_997/index.html"><img alt="Sharp Objects" class="thumbnail" src="media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/sharp-objects_997/index.html" title="Sharp Objects">Sharp Objects</a></h3>
 <div class="product_price">
 <p class="price_color">£47.82</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/sapiens-a-brief-history-of-humankind_996/index.html"><img alt="Sapiens: A Brief History of Humankind" class="thumbnail" src="media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg"/></a>
 </div>
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/sapiens-a-brief-history-of-humankind_996/index.html" title="Sapiens: A Brief History of Humankind">Sapiens: A Brief History ...</a></h3>
 <div class="product_price">
 <p class="price_color">£54.23</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/the-requiem-red_995/index.html"><img alt="The Requiem Red" class="thumbnail" src="media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/the-requiem-red_995/index.html" title="The Requiem Red">The Requiem Red</a></h3>
 <div class="product_price">
 <p class="price_color">£22.65</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html"><img alt="The Dirty Little Secrets of Getting Your Dream Job" class="thumbnail" src="media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html" title="The Dirty Little Secrets of Getting Your Dream Job">The Dirty Little Secrets ...</a></h3>
 <div class="product_price">
 <p class="price_color">£33.34</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html"><img alt="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull" class="thumbnail" src="media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg"/></a>
 </div>
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html" title="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull">The Coming Woman: A ...</a></h3>
 <div class="product_price">
 <p class="price_color">£17.93</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html"><img alt="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics" class="thumbnail" src="media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html" title="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics">The Boys in the ...</a></h3>
 <div class="product_price">
 <p class="price_color">£22.60</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/the-black-maria_991/index.html"><img alt="The Black Maria" class="thumbnail" src="media/cache/58/46/5846057e28022268153beff6d352b06c.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/the-black-maria_991/index.html" title="The Black Maria">The Black Maria</a></h3>
 <div class="product_price">
 <p class="price_color">£52.15</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html"><img alt="Starving Hearts (Triangular Trade Trilogy, #1)" class="thumbnail" src="media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg"/></a>
 </div>
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html" title="Starving Hearts (Triangular Trade Trilogy, #1)">Starving Hearts (Triangular Trade ...</a></h3>
 <div class="product_price">
 <p class="price_color">£13.99</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">

Al revisar el codigo fuente nos encontramos que los títulos están en el tag "< h3>", esto buscará sobre el HTML.

In [ ]:
busqueda = soup.find_all('h3')
print(busqueda)

[<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>, <h3><a href="catalogue/tipping-the-velvet_999/index.html" title="Tipping the Velvet">Tipping the Velvet</a></h3>, <h3><a href="catalogue/soumission_998/index.html" title="Soumission">Soumission</a></h3>, <h3><a href="catalogue/sharp-objects_997/index.html" title="Sharp Objects">Sharp Objects</a></h3>, <h3><a href="catalogue/sapiens-a-brief-history-of-humankind_996/index.html" title="Sapiens: A Brief History of Humankind">Sapiens: A Brief History ...</a></h3>, <h3><a href="catalogue/the-requiem-red_995/index.html" title="The Requiem Red">The Requiem Red</a></h3>, <h3><a href="catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html" title="The Dirty Little Secrets of Getting Your Dream Job">The Dirty Little Secrets ...</a></h3>, <h3><a href="catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html" title="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull">The Coming Woman: A ...</a></h3>, <h3><a href="catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html" title="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics">The Boys in the ...</a></h3>, <h3><a href="catalogue/the-black-maria_991/index.html" title="The Black Maria">The Black Maria</a></h3>, <h3><a href="catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html" title="Starving Hearts (Triangular Trade Trilogy, #1)">Starving Hearts (Triangular Trade ...</a></h3>, <h3><a href="catalogue/shakespeares-sonnets_989/index.html" title="Shakespeare's Sonnets">Shakespeare's Sonnets</a></h3>, <h3><a href="catalogue/set-me-free_988/index.html" title="Set Me Free">Set Me Free</a></h3>, <h3><a href="catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html" title="Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)">Scott Pilgrim's Precious Little ...</a></h3>, <h3><a href="catalogue/rip-it-up-and-start-again_986/index.html" title="Rip it Up and Start Again">Rip it Up and ...</a></h3>, <h3><a href="catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html" title="Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991">Our Band Could Be ...</a></h3>, <h3><a href="catalogue/olio_984/index.html" title="Olio">Olio</a></h3>, <h3><a href="catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html" title="Mesaerion: The Best Science Fiction Stories 1800-1849">Mesaerion: The Best Science ...</a></h3>, <h3><a href="catalogue/libertarianism-for-beginners_982/index.html" title="Libertarianism for Beginners">Libertarianism for Beginners</a></h3>, <h3><a href="catalogue/its-only-the-himalayas_981/index.html" title="It's Only the Himalayas">It's Only the Himalayas</a></h3>]

In [ ]:
type(busqueda), len(busqueda)

(bs4.element.ResultSet, 20)

Imprimimos todos los titulos que corresponden a la cabecera de nivel 3 de la página.

In [ ]:
for tag in soup.find_all('h3'):
    print(tag.text)

A Light in the ...
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History ...
The Requiem Red
The Dirty Little Secrets ...
The Coming Woman: A ...
The Boys in the ...
The Black Maria
Starving Hearts (Triangular Trade ...
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little ...
Rip it Up and ...
Our Band Could Be ...
Olio
Mesaerion: The Best Science ...
Libertarianism for Beginners
It's Only the Himalayas

Juntando todo lo anterior obtenemos:

In [ ]:
from bs4 import BeautifulSoup
import requests
import re #esto para regular expressions

URL = "http://books.toscrape.com/"

# Realizamos la petición a la web
req = requests.get(URL)

# Comprobamos que la petición nos devuelve un Status Code = 200
status_code = req.status_code
if status_code == 200:

    # Pasamos el contenido HTML de la web a un objeto BeautifulSoup()
    html = BeautifulSoup(req.text, "html.parser")

    # Obtenemos todos los divs donde están las entradas
    # i.e. todas las clases de tipo 'image container'
    entradas = html.find_all('div', {'class': 'image_container'})

    # Recorremos todas las entradas para extraer el nombre del libro
    # Aquí se ve la necesidad de volverlo un iterable. 
   # print(entradas)
    for i, entrada in enumerate(entradas):
        if entradas:
            print(entradas[i].find('img')['alt'])
    
else:
    print (status_code)
print(type(entradas))

A Light in the Attic
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History of Humankind
The Requiem Red
The Dirty Little Secrets of Getting Your Dream Job
The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
The Black Maria
Starving Hearts (Triangular Trade Trilogy, #1)
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Rip it Up and Start Again
Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Olio
Mesaerion: The Best Science Fiction Stories 1800-1849
Libertarianism for Beginners
It's Only the Himalayas
<class 'bs4.element.ResultSet'>

Imprimiremos las categorías y todos los titulos que corresponden a la cabecera de nivel 3 de la página.

In [ ]:
categorias = []
for tag in soup.find_all('div', {'class':'side_categories'}):
    a = tag.get_text(strip = False)
    categorias.append(a)
print(a)

                                Books






                                Travel






                                Mystery






                                Historical Fiction






                                Sequential Art






                                Classics






                                Philosophy






                                Romance






                                Womens Fiction






                                Fiction






                                Childrens






                                Religion






                                Nonfiction






                                Music






                                Default






                                Science Fiction






                                Sports and Games






                                Add a comment






                                Fantasy






                                New Adult






                                Young Adult






                                Science






                                Poetry






                                Paranormal






                                Art






                                Psychology






                                Autobiography






                                Parenting






                                Adult Fiction






                                Humor






                                Horror






                                History






                                Food and Drink






                                Christian Fiction






                                Business






                                Biography






                                Thriller






                                Contemporary






                                Spirituality






                                Academic






                                Self Help






                                Historical






                                Christian






                                Suspense






                                Short Stories






                                Novels






                                Health






                                Politics






                                Cultural






                                Erotica






                                Crime

In [ ]:
html2 = urlopen('http://quotes.toscrape.com')
soup2 = BeautifulSoup(html2.read(), 'html.parser')
text = {}
entradas = soup2.find_all('div', {'class' : 'quote'})
# encuentra todos del tag div con clase quote
for i, entrada in enumerate(entradas):
    cita = entrada.find('span', {'class': 'text'}).getText()
    # del tag span encuentra las clases texto
    print(cita)

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
“Try not to become a man of success. Rather become a man of value.”
“It is better to be hated for what you are than to be loved for what you are not.”
“I have not failed. I've just found 10,000 ways that won't work.”
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
“A day without sunshine is like, you know, night.”

In [ ]:
entradas = soup2.find_all('div', {'class' : 'quote'})
for i, entrada in enumerate(entradas):
    autor = entrada.find('small', {'class': 'author'}).getText()
    print(autor)

Albert Einstein
J.K. Rowling
Albert Einstein
Jane Austen
Marilyn Monroe
Albert Einstein
André Gide
Thomas A. Edison
Eleanor Roosevelt
Steve Martin

http://books.toscrape.com
http://quotes.toscrape.com/

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

citas = []
autores = []

URL = "http://quotes.toscrape.com/"

# Realizamos la petición a la web
req = requests.get(URL)

# Comprobamos que la petición nos devuelve un Status Code = 200
status_code = req.status_code
if status_code == 200:

    # Pasamos el contenido HTML de la web a un objeto BeautifulSoup()
    html = BeautifulSoup(req.text, "html.parser")

    # Obtenemos todos los divs donde están las entradas
    entradas = html.find_all('div', {'class': 'quote'})
    print(len(entradas), '\n')
    # Recorremos todas las entradas para extraer el cita, autor y categoria
    for i, entrada in enumerate(entradas):
        cita = entrada.find('span', {'class': 'text'}).getText()
        # Llamamos al método "getText()" nos devuelve también el HTML
        autor = entrada.find('small', {'class': 'author'}).getText()
        # Imprimo la Cita, Autor y Categoria
        print (i + 1, cita, autor, '\n')
        citas.append(cita)
        autores.append(autor)
        
else:
    print (status_code)

10

1 “The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.” Albert Einstein

2 “It is our choices, Harry, that show what we truly are, far more than our abilities.” J.K. Rowling

3 “There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.” Albert Einstein

4 “The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.” Jane Austen

5 “Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.” Marilyn Monroe

6 “Try not to become a man of success. Rather become a man of value.” Albert Einstein

7 “It is better to be hated for what you are than to be loved for what you are not.” André Gide

8 “I have not failed. I've just found 10,000 ways that won't work.” Thomas A. Edison

9 “A woman is like a tea bag; you never know how strong it is until it's in hot water.” Eleanor Roosevelt

10 “A day without sunshine is like, you know, night.” Steve Martin

In [ ]:
df = pd.DataFrame(list(zip(autores, citas)), columns =['Autores', 'Citas'])
df.head()

[['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”', '“It is our choices, Harry, that show what we truly are, far more than our abilities.”', '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”', '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”', "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”", '“Try not to become a man of success. Rather become a man of value.”', '“It is better to be hated for what you are than to be loved for what you are not.”', "“I have not failed. I've just found 10,000 ways that won't work.”", "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”", '“A day without sunshine is like, you know, night.”'], ['Albert Einstein', 'J.K. Rowling', 'Albert Einstein', 'Jane Austen', 'Marilyn Monroe', 'Albert Einstein', 'André Gide', 'Thomas A. Edison', 'Eleanor Roosevelt', 'Steve Martin']]

           Autores                                              Citas
0  Albert Einstein  “The world as we have created it is a process ...
1     J.K. Rowling  “It is our choices, Harry, that show what we t...
2  Albert Einstein  “There are only two ways to live your life. On...
3      Jane Austen  “The person, be it gentleman or lady, who has ...
4   Marilyn Monroe  “Imperfection is beauty, madness is genius and...

## Selenium

Selenium nos permite definir pruebas y detectar automáticamente los resultados de estas pruebas en un navegador predeterminado. Un conjunto de funciones de Selenium nos permite crear interacciones paso a paso con una página web y evaluar la respuesta de un navegador a varios cambios. Luego puede decidir si la respuesta del navegador está en línea con lo que espera.

In [ ]:
!pip install selenium
!apt-get update 
!apt install chromium-chromedriver

Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (4.1.2)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.26.8)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.7/dist-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (36.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (22.0.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from h11<1,>=0.9.0->wsproto>=0.14->trio-websocket~=0.9->selenium) (3.10.0.2)
Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 256 kB in 3s (80.1 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (97.0.4692.71-0ubuntu0.18.04.1).
The following package was automatically installed and is no longer required:
  libnvidia-common-470
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 67 not upgraded.

Primero importamos el driver del webdriver de Chrome ya habiendo instalado el de chromium.

In [ ]:
from selenium import webdriver
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
from selenium.webdriver.common.keys import Keys

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: use options instead of chrome_options

A continuación, utilice el método .get() del controlador para cargar un sitio web. También puede cargar un sitio de desarrollo local ya que este proceso es equivalente a abrir una ventana de Chrome en su máquina local, escribir una URL y presionar Enter. El método .get() no solo comienza a cargar un sitio web, sino que también espera a que se muestre por completo antes de pasar al siguiente paso.

In [ ]:
driver.get("https://www.python.org")

Una vez que la página se carga correctamente, puede usar el atributo .title para acceder al título textual de la página web. Si desea verificar si el título contiene una subcadena en particular, puede usar las declaraciones afirmar o si. Para simplificar, imprimamos el título de la página.

In [ ]:
print(driver.title)

Welcome to Python.org

A continuación, envíemos una consulta en la barra de búsqueda. Primero, seleccione el elemento del HTML DOM e ingrese un valor en él y envíe el formulario emulando la pulsación de la tecla Retorno. Puede seleccionar el elemento usando su clase CSS, ID, su atributo de nombre o incluso el nombre de la etiqueta. Si verifica la fuente de la barra de búsqueda de consultas, notará que el atributo de nombre de este elemento DOM es "q". Por lo tanto, puede usar el método .find_element_by_name() de la siguiente manera para seleccionar el elemento.

In [ ]:
search_bar = driver.find_element_by_name("q")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: find_element_by_name is deprecated. Please use find_element(by=By.NAME, value=name) instead
  """Entry point for launching an IPython kernel.

Una vez que se selecciona el elemento DOM, primero debe borrar su contenido usando el método .clear(), ingresar una cadena como su valor usando el método .send_keys() y finalmente, emular la pulsación de la tecla Return usando Keys.RETURN.

In [ ]:
search_bar.clear()
search_bar.send_keys("getting started with python")
search_bar.send_keys(Keys.RETURN)

StaleElementReferenceException: ignored

In [ ]:
print(driver.current_url)

https://www.python.org/search/?q=getting+started+with+python&submit=

Para cerrar la sesión actual, use el método .close(). También desconecta el enlace con el navegador.

In [ ]:
driver.close()